@using JasperSiteCore.Models.Database
@using  JasperSiteCore.Models
@using JasperSiteCore.Areas.Admin.Controllers
@inject DatabaseContext databaseContext
@model JasperSiteCore.Areas.Admin.ViewModels.BlockViewModel

<script>
     /* AJAX REMOVE BLOCK */
    $(document).ready(function () {


            var allAddLinks = $('a[data-remove-block-id]').click(function (e) {

                e.preventDefault();
                var singleLink = $(this);

                var blockToBeRemovedId = singleLink.data('removeBlockId');
                var blockName = singleLink.data('blockName');

                appendWindow("Skutečně odstranit textový blok?", `Textový blok <b> ${blockName}</b> a jeho obsah  bude nenávratně odstraněn.`, function () { return ajaxCallDeleteBlock(blockToBeRemovedId); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "Odstranit");
               
        });

        function ajaxCallDeleteBlock(blockToBeRemovedId) {
            toggleWindow();
             $.ajax({
                    type: 'get',
                    url: '@Url.Action("DeleteBlock","Blocks")',
                    data: { id: blockToBeRemovedId },
                    dataType: 'HTML',
                    success: function (data) {

                        $("#mainForm1").html(data);

                        savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
                    }
                });
        }

        });
</script>

<form asp-action="AddNewBlock" asp-controller="Blocks" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm1" data-ajax-complete='savedInfo("<strong>Uloženo.</strong> Veškeré změny byly uloženy.", "alert-success")'>
    <div class="form-horizontal">

        @*<div asp-validation-summary="All" class="text-danger"></div>*@

        <div class="form-group">
            <label asp-for="NewTextBlock.Name"></label>
            <input asp-for="NewTextBlock.Name" class="form-control" />
            <span asp-validation-for="NewTextBlock.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NewTextBlock.Content"></label>
            <input asp-for="NewTextBlock.Content" class="form-control" placeholder="Toto pole můžete ponechat prozatím prázdné" />
            <span asp-validation-for="NewTextBlock.Content" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Přiřadit ke kontejneru</label>
            <select class="form-control" asp-for="NewTextBlock.BlockHolderId" asp-items="@(new SelectList(Model.AllBlockHolders,"Id","Name"))"></select>
            <span asp-validation-for="NewTextBlock.BlockHolderId" class="text-danger"></span>
        </div>

        <div class="form-group">


            <button type="submit" asp-area="Admin" asp-controller="Blocks" asp-action="AddNewBlock" class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i>Uložit změny</button>



        </div>
    </div>











    <hr />
    <h2><i class="fa fa-th j-icon" aria-hidden="true"></i>Bloky</h2>
    <hr />





    <div class="table-responsive">


        @foreach (BlocksViewModelData data in @Model.Blocks)
        {
            <h3>  <a  asp-area="Admin" asp-controller="Blocks" asp-action="DeleteBlock" asp-route-id="@data.TextBlock.Id" class="btn btn-outline-danger" style="padding-left:5px;padding-right:5px;padding-top:1px;padding-bottom:1px" data-remove-block-id="@data.TextBlock.Id" data-block-name="@data.TextBlock.Name">x</a>  @data.TextBlock.Name   </h3>
            <div class="j-left-border-block">






                @if (data.BlocHolderWithTheme.Count() > 0)
    {
            <table class="table table-bordered j-table j-table-headers-left">
                <tr><th>Název kontejneru na stránce</th><th>Název odpovídajícího vzhledu</th><th>Pořadí bloku v kontejneru</th></tr>
                @foreach (var item in data.BlocHolderWithTheme)
    {
            <tr><td>@item.BlockHolderName</td><td>@item.ThemeName</td><td>@item.Order</td></tr>
}
            </table>

}
else
{
            <div class="alert alert-warning" role="alert">
                <strong>Upozornění!</strong> Tento textový blok nemá přiřazen žádný kontejner a nebude proto zobrazen na stránce.
            </div>
}
                <a asp-area="Admin" asp-controller="Blocks" asp-action="EditBlock" asp-route-blockId="@data.TextBlock.Id" class="btn btn-jasper">Upravit</a>
            </div>
            <hr />
        }

    </div>


    <h2><i class="fa fa-paint-brush j-icon" aria-hidden="true"></i>Přehled vzhledů a jejich kontejnerů</h2>
    <hr />
    <div class="table-responsive">


        @foreach (Theme theme in Model.AllThemes)
    {
        <h2>@theme.Name</h2>
    var blockHolders = Model.AllBlockHolders.Where(b => b.ThemeId == theme.Id);
    <div style="border-left:3px solid #BA68C8;padding-left:4px">
        <table class="table table-bordered j-table j-table-headers-left ">
            <tr><th>Název kontejneru</th></tr>
            @foreach (BlockHolder holder in blockHolders)
        {

            <tr><td>@holder.Name</td></tr>

    }
        </table>
        </div>
        <hr/>
        }

    </div>



</form>