@model JasperSiteCore.Areas.Admin.ViewModels.EditBlockViewModel
@using JasperSiteCore.Models.Database

<script>
        $(document).ready(function () {

            
            $('[data-toggle="tooltip"]').tooltip();            


        });
</script>



<form asp-action="SaveBlock" asp-controller="Blocks" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm" data-ajax-complete="savedInfo">
    <div class="form-horizontal">

        @*<div asp-validation-summary="All" class="text-danger"></div>*@

        <div class="form-group">
            <input type="hidden" asp-for="TextBlock.Id" />
            <label asp-for="TextBlock.Name"></label>

            <input asp-for="TextBlock.Name" class="form-control" />
            <span asp-validation-for="TextBlock.Name" class="text-danger"></span>

        </div>


        <div class="form-group">
            <label asp-for="TextBlock.Content"></label>

            <textarea asp-for="TextBlock.Content" class="form-control" cols="12" rows="12"> </textarea>
            <span asp-validation-for="TextBlock.Content" class="text-danger"></span>

        </div>


        <h2>Přiřazené kontejnery:</h2>
        <table class="table table-bordered j-table">
            <tr><th class="col-sm-1">Název kontejneru</th><th>Akce</th></tr>
            @foreach (BlockHolder holder in Model.CorrespondingBlockHolders)
            {
                <tr><td>@holder.Name</td><td>   <a data-toggle="tooltip" title="Odebrat" asp-area="Admin" asp-controller="Blocks" asp-action="RemoveHolderFromBlock" asp-route-holderId="@holder.Id" asp-route-blockId="@Model.TextBlock.Id" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a></td></tr>
            }
        </table>

        <h2>Přiřadit kontejnery:</h2>
        <table class="table table-bordered j-table j-table-left">
            <tr><th class="col-sm-1">Název kontejneru</th><th>Akce</th></tr>
            @foreach (BlockHolder holder in Model.AllBlockHolders.Except(Model.CorrespondingBlockHolders))
            {
                <tr><td>@holder.Name</td><td>   <a data-toggle="tooltip" title="Přiřadit" asp-area="Admin" asp-controller="Blocks" asp-action="AddHolderToBlock" asp-route-holderId="@holder.Id" asp-route-blockId="@Model.TextBlock.Id" class="btn btn-jasper"> <i class="fa fa-check-circle fa-1x" aria-hidden="true"></i>  </a></td></tr>
            }
        </table>

        <div class="form-group">

            <a href="/Admin/Blocks/" class=" btn btn-secondary"><i class="fa fa-undo" aria-hidden="true"></i> Zpět na seznam bloků</a>
            <button type="submit" asp-area="Admin" asp-controller="Blocks" asp-action="SaveBlock" class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i>Uložit změny</button>



        </div>
    </div>
</form>