@*
    All usings are loaded from _ViewImports.cshtml together with databaseContext dependency
*@
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="@Helper.JasperUrl("./favicon.ico")" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*
        Loads all scripts and css files (some through CDN, or locally, if development flag is set),
        such as jQuery, Tether, Bootstrap 4, Prism.js
    *@
    @Html.Partial("_ThemeDependencies")

    @* Renders script and sections from subordinate content files *@
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)


    <environment include="Development">
        <link rel="stylesheet" href="@Helper.JasperUrl("./Styles/style.css")" />
        <script src="@Helper.JasperUrl("./Scripts/script.js")"></script>
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.JasperUrl("./Styles/style.min.css")" />
        <script src="@Helper.JasperUrl("./Scripts/script.min.js")"></script>
    </environment>

</head>
<body>


    <div class="container jasper-container-outer">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><span class="website-name-title">@J.GetWebsiteName()</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="login" asp-action="index" asp-area="admin">Přihlášení</a>
                    </li>
                    <li class="nav-item  @(Context.Request.Path.Value.ToLower().StartsWith("/home/category") ? "active":"")">
                        <a class="nav-link" href="/home/category">Všechny rubriky</a>
                    </li>
                    <li class="nav-item  @(Context.Request.Path.Value.ToLower().StartsWith("/home/about") ? "active":"")">
                        <a class="nav-link" href="/home/about">O Autorovi</a>
                    </li>
                    @{ List<Category> allCategories = J.GetAllCategories();}
                    @if (allCategories != null)
                    {
                        @foreach (Category c in allCategories)
                        {
                            <li class="nav-item @(Context.Request.Path.Value.ToLower().StartsWith("/home/singlecategory?id=" + c.Id) ? "active" : "")">
                                <a class="nav-link" href="/home/singlecategory?id=@c.Id">@c.Name</a>
                            </li>
                        }

                    }
                </ul>
            </div>
        </nav>

        <div class="container-fluid j-render-container" style="margin-top:20px">
            @RenderBody()
        </div>

        <div class="container-fluid j-footer">
            <footer style="padding:10px">
                <p class="text-muted">
                    @J.Components.Holder("FooterHolder")
                    <a href="/Admin/">Vstup do administrace</a>
                </p>
            </footer>
        </div>
    </div>

</body>
</html>
