@model JasperSiteCore.Areas.Admin.ViewModels.InstallViewModel

@using JasperSiteCore.Models
@{
    Layout = null;
}




<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Areas/Admin/Content/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instalace</title>


    @*********************************************************************** Styles ****************************************************************************@
    <environment include="Development">

        <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css" />
        <link href="~/node_modules/tether/dist/css/tether.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/design.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/simple-sidebar.css" />


        <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    </environment>

    <environment exclude="Development">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
              asp-fallback-href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" rel="stylesheet"
              asp-fallback-href="~/node_modules/tether/dist/css/tether.css" />

        <!--Nalinkovat minifikaci-->
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/design.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/simple-sidebar.css" />


        <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </environment>

    @*********************************************************************** Scripts ****************************************************************************@
    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/tether/dist/js/tether.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/node_modules/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" asp-fallback-href="~/node_modules/tether/dist/js/tether.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                asp-fallback-src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn">
        </script>

        <!-- Without CDN -->
        <script src="~/node_modules/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>

    @{Html.RenderPartial("_ValidationScriptsPartial");}


    @if (Configuration.GlobalWebsiteConfig.InstallationCompleted)
    {
        <script  src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
        <script>
        $(document).ready(function(){
        $("#submitButton").click(function(e){
        e.preventDefault();
         appendWindow("Skutečně reinstalovat redakční systém?", "Tato akce je nevratná, veškerý obsah bude smazán.", function () { $("#installForm").submit();  }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "Smazat data a reinstalovat systém");
        });
        });
        </script>
    }


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <style>
            .j-jumbotron {
                background-color: #BA68C8;
            }

                .j-jumbotron h1 {
                    color: white;
                }

                .j-jumbotron h2 {
                    color: #e7e7e7;
                    font-size: 1.3em;
                }

            body {
                margin-top: 20px;
            }

            .j-jumbotron-span {
                color: black;
            }
        </style>

        @Html.Partial("_ErrorModalPartialView")

    </head>

<body>


    @if (Configuration.GlobalWebsiteConfig.InstallationCompleted)
    { 
        <div id="modalTargetDiv"></div>
    }

        <div class="container">
            <div class="jumbotron j-jumbotron">
                <h1>
                    J<span class="j-jumbotron-span">asp</span>er Site <span class="j-jumbotron-span">Core</span>
                </h1>
                <h2>Instalace redakčního systému </h2>
            </div>




            <div class="row">




                <section class="j-admin-section col-lg-6">
                    <h2>Průvodce instalací</h2>

                    <form id="installForm" method="post" asp-area="Admin" asp-controller="Install" asp-action="Index">

                        <div class="form-group">
                            <label>Zvolte databázi</label>
                            <select class="form-control" asp-for="SelectedDatabase" asp-items="@(new SelectList(Model.AllDatabases,"Id","Name"))"></select>
                            <span asp-validation-for="SelectedDatabase" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Zadejte připojovací řetězec</label>
                            @*Data Source=(localdb)\jaspersitecore;Initial Catalog=JasperSiteCoreDb;Integrated Security=True"*@
                            <input class="form-control" type="text" asp-for="ConnectionString" />
                            <span asp-validation-for="ConnectionString" class="text-danger"></span><br />









                            <div class="list-group">

                                <div class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1"><b>Příklady připojovacích řetězců</b></h5>
                                        <small class="text-muted">Tip!</small>
                                    </div>
                                    <p class="mb-1">
                                        <ul style="margin-left:20px;margin-top:5px">
                                            <li>
                                                <i>MSSQL:</i><br /> Data Source=název_serveru; Initial Catalog=název_databáze; Integrated Security=True
                                            </li>
                                            <li>
                                                <i>MySQL:</i> <br />Server=název_serveru; Database=název_databáze; Uid=root;Pwd=root;
                                            </li>
                                        </ul>
                                        @*<small class="text-muted">V uživatelském jménu nezáleží na velikosti písmen.</small>*@
                                    </p>

                                </div>
                            </div>


                        </div>

                        <div class="form-group">

                            @if (Configuration.GlobalWebsiteConfig.InstallationCompleted)
                            {
                                <a asp-controller="Home" asp-area="Admin" asp-action="Index" class="btn btn-secondary"> Zpět do redakčního systému </a>
                            }

                            @if (!Configuration.GlobalWebsiteConfig.InstallationCompleted)
                            {
                                <input id="submitButton" type="submit" value="Dokončit instalaci" class="btn btn-jasper" />
                            }
                            else
                            {

                                <input id="submitButton" type="submit" value="Reinstalovat systém" class="btn btn-warning" />
                            }
                        </div>
                    </form>

                </section>

                <section class="j-admin-section col-lg-6">

                    @if (!Configuration.GlobalWebsiteConfig.InstallationCompleted)
                    {
                        <div class="alert alert-warning" role="alert">
                            Redakční systém JasperSiteCore ještě nebyl nainstalován. Postupujte pomocí pokynů instalace.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <p>
                                Redakční systém JasperSiteCore byl již jednou nainstalován. Opětovná instalace přemaže některá uložená data: Články, rubriky,
                                uživatelské účty, obrázky, konfigurační nastavení a další uživatelský obsah bude smazán. Složka se vzhledy bude ponechána.
                            </p>
                            @*<p>
                                     Konfigurační nastavení budou také ponechány. Pokud chcete obnovit výchozí konfigurační nastavení pro web, zvolte následující možnost.
                                <br />  <a class="btn btn-warning" asp-area="admin" asp-controller="install" asp-action="ResetGlobalConfigJson">Resetovat konfigurační nastavení</a>
                                 </p>*@
                            <p>
                                Pro zobrazení konfiguračního nastevení zvolte možnost: pokročilé ladící informace.
                            </p>
                        </div>

                    }

                    <div class="accordion" id="accordionExample">

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Pokročilé ladící informace
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="alert alert-warning" role="alert" style="margin-bottom:0px">
                                        <b>Aktuální nastavení</b><br />
                                        Dokončení instalace:  @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.InstallationCompleted <br />
                                        Připojovací řetězec:  @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.ConnectionString <br />
                                        Typ databáze:  @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.TypeOfDatabase<br />
                                        Název aktivního vzhledu:  @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.ThemeName<br />
                                        Složka se vzhledy: @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.ThemeFolder <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </body>
</html>
