@model JasperSiteCore.Areas.Admin.ViewModels.InstallViewModel

@using JasperSiteCore.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Areas/Admin/Content/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instalace</title>


    @*********************************************************************** Styles ****************************************************************************@
    <environment include="Development">


        <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css" />

        <link href="~/Areas/Admin/Content/Styles/design.css" rel="stylesheet" />

        <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    </environment>

    <environment exclude="Development">


        <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


        <link href="~/Areas/Admin/Content/Styles/design.min.css" rel="stylesheet" />


        <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </environment>

    @*********************************************************************** Scripts ****************************************************************************@
    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.js"></script>

        <script src="~/node_modules/popper.js/dist/umd/popper.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/node_modules/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>

    <environment exclude="Development">

        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>

        <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


        <!-- Without CDN -->
        <script src="~/node_modules/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>

    @{Html.RenderPartial("_ValidationScriptsPartial");}
    @Html.Partial("_ErrorModalPartialViewTemp")


    @if (Configuration.GlobalWebsiteConfig.InstallationCompleted)
    {
        <script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
        <script>
        $(document).ready(function(){
        $("#submitButton").click(function(e){

           if( $("#installForm").valid()) {

               e.preventDefault();
               appendWindow("Skutečně reinstalovat redakční systém?", "Tato akce je nevratná, veškerý obsah bude smazán.", function () { toggleWindow(); $("body").addClass("loading"); $("#installForm").submit(); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "Smazat data a reinstalovat systém");
       }
            });
        });
        </script>
    }


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

    <style>
        .j-jumbotron {
            /*background-color: #BA68C8;*/
        }

            .j-jumbotron h1 {
                color: white;
            }

            .j-jumbotron h2 {
                color: #e7e7e7;
                font-size: 1.3em;
            }

        body {
            margin-top: 20px;
        }

        .j-jumbotron-span {
            color: #BA68C8;
        }


        /* Centered div with spinning icon (without shade) */

        .modal-loading {
            display:none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
            background-color:transparent;
            z-index: 3;
        }


        body.loading .modal-loading {
            overflow: hidden;
        }

        body.loading .modal-loading {
            display: block;
        }
        


        /* Background shade */       

        .modal {
            display: none;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 );
        }

        /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
        body.loading .modal {
            overflow: hidden;
        }

        /* Anytime the body has the loading class, our
   modal element will be visible */
        body.loading .modal {
            display: block;
        }
       
    </style> 

</head>

<body>


    @if (Configuration.GlobalWebsiteConfig.InstallationCompleted)
    {
        <div id="modalTargetDiv"></div>
    }

    <div class="container">

        <div style="margin-bottom:20px">
            <h1>
                J<span class="j-jumbotron-span">asp</span>er Site <span class="j-jumbotron-span">Core</span>
            </h1>
            <h2><small>Instalace redakčního systému</small> </h2>
        </div>





        <div class="row">




            <section class="col-lg-6">
                <div class="j-admin-section">


                    <form id="installForm" method="post" asp-area="Admin" asp-controller="Install" asp-action="Index" >

                        <div class="form-group">
                            <label>Zvolte databázi</label>
                            <select class="form-control" asp-for="SelectedDatabase" asp-items="@(new SelectList(Model.AllDatabases,"Id","Name"))"></select>
                            <span asp-validation-for="SelectedDatabase" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Zadejte připojovací řetězec</label>
                            @*Data Source=(localdb)\jaspersitecore;Initial Catalog=JasperSiteCoreDb;Integrated Security=True"*@
                            <textarea rows="3" class="form-control" type="text" asp-for="ConnectionString"> </textarea>
                            <span asp-validation-for="ConnectionString" class="text-danger"></span><br />









                            <div class="list-group">

                                <div class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1"><b>Příklady připojovacích řetězců</b></h5>
                                        <small class="text-muted">Tip!</small>
                                    </div>
                                    <p class="mb-1">
                                        <ul style="margin-left:20px;margin-top:5px">
                                            <li>
                                                <i>MSSQL:</i><br /> Data Source=název_serveru; Initial Catalog=název_databáze; Integrated Security=True
                                            </li>
                                            <li>
                                                <i>MySQL:</i> <br />Server=název_serveru; Database=název_databáze; Uid=root;Pwd=root;
                                            </li>
                                        </ul>
                                        @*<small class="text-muted">V uživatelském jménu nezáleží na velikosti písmen.</small>*@
                                    </p>

                                </div>
                            </div>


                        </div>

                        <div class="form-group">

                            @if (Configuration.GlobalWebsiteConfig.InstallationCompleted)
                            {
                                <a asp-controller="Home" asp-area="Admin" asp-action="Index" class="btn btn-secondary"> Zpět do redakčního systému </a>
                            }

                            @if (!Configuration.GlobalWebsiteConfig.InstallationCompleted)
                            {
                                <input id="submitButton" type="submit" value="Dokončit instalaci" class="btn btn-jasper" />
                            }
                            else
                            {

                                <input id="submitButton" type="submit" value="Reinstalovat systém" class="btn btn-warning" />
                            }
                        </div>
                    </form>


                </div>
            </section>

            <section class="col-lg-6">
                <div class="j-admin-section">
                    @if (!Configuration.GlobalWebsiteConfig.InstallationCompleted)
                    {
                        <div class="alert alert-warning" role="alert">
                            Redakční systém JasperSiteCore ještě nebyl nainstalován. Postupujte pomocí pokynů instalace.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <p>
                                Redakční systém JasperSiteCore byl již jednou nainstalován. Opětovná instalace přemaže některá uložená data: Články, rubriky,
                                uživatelské účty, obrázky, konfigurační nastavení a další uživatelský obsah bude smazán. Složka se vzhledy bude ponechána.
                            </p>
                            @*<p>
                                     Konfigurační nastavení budou také ponechány. Pokud chcete obnovit výchozí konfigurační nastavení pro web, zvolte následující možnost.
                                <br />  <a class="btn btn-warning" asp-area="admin" asp-controller="install" asp-action="ResetGlobalConfigJson">Resetovat konfigurační nastavení</a>
                                 </p>*@
                            <p>
                                Pro zobrazení konfiguračního nastevení zvolte možnost: pokročilé ladící informace.
                            </p>
                        </div>

                    }

                    <div class="accordion" id="accordionExample">

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Pokročilé ladící informace
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="alert alert-warning" role="alert" style="margin-bottom:0px">
                                        <b>Aktuální nastavení</b><br />
                                        Dokončení instalace:  @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.InstallationCompleted <br />
                                        Připojovací řetězec:  @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.ConnectionString <br />
                                        Typ databáze:  @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.TypeOfDatabase<br />
                                        Název aktivního vzhledu:  @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.ThemeName<br />
                                        Složka se vzhledy: @JasperSiteCore.Models.Configuration.GlobalWebsiteConfig.ThemeFolder <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>




    <div class="modal"></div>
    <div class="modal-loading"><div><i class="fa fa-4x fa-spinner fa-spin"></i></div></div>

</body>
</html>
