@using JasperSiteCore.Models.Database
@using JasperSiteCore.Models
@using Microsoft.AspNetCore.Http.Extensions
@inject DatabaseContext databaseContext
<!DOCTYPE html>
<html>
<head>
    @* ---------------------------------------------------MANUALLY DOWNLOADED AND MODIFIED PRISM--------------------------------------------------------------- *@
    <script src="~/customLib/prism.js"></script>
    <link href="~/customLib/prism.css" rel="stylesheet" />
    @* ---------------------------------------------------END MANUALLY DOWNLOADED AND MODIFIED PRISMR---------------------------------------------------------- *@

    @* ---------------------------------------------------PRISM FROM BOWER--------------------------------------------------------------- *@
    @*<script src="~/lib/prism/prism.js"></script>
            <link href="~/lib/prism/themes/prism.css" rel="stylesheet" />
            <script src="~/lib/prism/components/prism-csharp.js"></script>

         <script src="~/lib/prism/components/prism-markup-templating.js"></script> <!--Otherwise PHP markup will not work-->
         <script src="~/lib/prism/components/prism-php.js"></script>
         <script src="~/lib/prism/components/prism-java.js"></script>
         <script src="~/lib/prism/components/prism-git.js"></script>
         <script src="~/lib/prism/components/prism-markdown.js"></script>
         <script src="~/lib/prism/components/prism-aspnet.js"></script>
         <script src="~/lib/prism/components/prism-fsharp.js"></script>
         <script src="~/lib/prism/components/prism-json.js"></script>
         <script src="~/lib/prism/components/prism-less.js"></script>
         <script src="~/lib/prism/components/prism-sass.js"></script>
        <script src="~/lib/prism/components/prism-smalltalk.js"></script> *@
    @* ---------------------------------------------------END PRISM FROM BOWER--------------------------------------------------------------- *@

    <link rel="shortcut icon" href="@Helper.JasperUrl("./favicon.ico")" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>




    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/tether/dist/css/tether.css" rel="stylesheet" />
        <link rel="stylesheet" href="@Helper.JasperUrl("./Styles/style.css")" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />


    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css"
              integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.css">
        <!-- TODO: Nalinkovat minifikaci -->
        <link rel="stylesheet" href="@Helper.JasperUrl("./Styles/style.css")" asp-append-version="true" />



    </environment>

    @**********************************************Scripts*******************************************@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="@Helper.JasperUrl("./Scripts/script.js")" asp-append-version="true"></script>

    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" asp-fallback-href="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn">
        </script>
        <!-- TODO: Nalinkovat minifikaci -->
        <script src="@Helper.JasperUrl("./Scripts/script.js")" asp-append-version="true"></script>


    </environment>

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)



</head>
<body>


    <div class="container jasper-container-outer">


        <nav class="navbar navbar-inverse bg-inverse bg-faded navbar-toggleable-md">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/"><span style="color:#edccff">@J.Db(databaseContext).GetWebsiteName()</span></a>
        <div class="collapse navbar-collapse" id="containerNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Login">Přihlášení</a>
                </li>

                <li class="nav-item  @(Context.Request.GetDisplayUrl().Contains("Home/Category") ? "active":"")">
                    <a class="nav-link" href="/Home/Category/">Všechny rubriky</a>
                </li>

                <li class="nav-item  @(Context.Request.GetDisplayUrl().Contains("Home/About") ? "active":"")">
                    <a class="nav-link" href="/Home/About/">O Autorovi</a>
                </li>

                @foreach (Category c in J.Db(databaseContext).GetAllCategories())
                {
                    <li class="nav-item @(Context.Request.GetDisplayUrl().Contains("Home/SingleCategory?id="+c.Id)? "active":"")">
                        <a class="nav-link" href="/Home/SingleCategory?id=@c.Id">@c.Name</a>
                    </li>
                }

            </ul>
        </div>
        </nav>





            <div class="container-fluid" style="margin-top:20px">

                @RenderBody()
            </div>






            <hr />
            <div class="container-fluid">
                <footer>
                    <p style="padding-bottom:10px">&copy; 2017-2019 - Bc. Jaromír Kejda, PEF ČZU Praha, diplomová práce: Návrh a implementace redakčního systému v ASP.NET Core,  <a class="nav-link" href="/Admin/">Vstup do administrace</a></p>
                </footer>
            </div>
</div>
   
</body>
</html>
