@using JasperSite.Models
@using JasperSite.Areas.Admin.Models
@model JasperSite.Areas.Admin.ViewModels.ThemesViewModel
@{
    ViewBag.Title = Localizer["Themes"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Scripts {

    <script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
    <script>
        /* SUBMIT BUTTON FOR THEME UPLOAD IS DISABLED IF NO FILE HAS BEEN UPLOADED YET  */
        $(document).ready(
            function () {
                $('#files').change(
                    function () {
                        if ($(this).val()) {
                            $('#submitThemeFile').attr('disabled', false);
                        }
                        else {

                            $('#submitThemeFile').attr('disabled', true);
                        }
                    }
                );
            });
    </script>
}

@Html.Partial("_ErrorModalPartialViewTemp")

<div id="vzhledy"></div>

<h2>@Localizer["Themes"] </h2>




<!--NOT REGISTERED THEMES IN FOLDER-->
@if (Model.NotRegisteredThemeNames != null)
{
    if (Model.NotRegisteredThemeNames.Count > 0)
    {

        <div class="alert alert-warning fade show" role="alert">

            <strong>@Localizer["Folder with themes was edited - unregistered themes detected."]</strong> <br />
          @Localizer["The contents of folder <i>{0}</i> containing theme files were changed, or the database contains unexpected values.",Configuration.ThemeFolder]
           @Localizer["Unregistered themes"]:
            <ul style="list-style-type:disc">
                @foreach (string name in Model.NotRegisteredThemeNames)
                {
                    <li>@name</li>
                }
            </ul>
            <a class="btn btn-jasper" asp-controller="Themes" asp-action="AddNewAddedThemesToDb" asp-area="Admin">@Localizer["Register new themes into the database."].</a>

        </div>

    }
}

<!--MANUALLY DELETED THEMES STILL REGISTERED IN DATABASE-->
@if (Model.ManuallyDeletedThemeNames != null )
{
    if (Model.ManuallyDeletedThemeNames.Count > 0 )
    {
        <section class="j-admin-section">
            <div class="alert alert-warning fade show" role="alert">

                <strong>@Localizer["The folder with themes was modified - manually deleted themes were detected."]</strong> <br />
               
                @Localizer["The contents of folder {0} containing theme files were changed. This changes has to be saved.",Configuration.ThemeFolder]
                
               
                
              @Localizer["Manually deleted themes"]:
                <ul style="list-style-type:disc">
                    @foreach (string name in Model.ManuallyDeletedThemeNames)
                    {
                        <li>@name</li>
                    }
                </ul>
                <a class="btn btn-jasper" asp-controller="Themes" asp-action="RemoveManuallyDeletedThemesFromDb" asp-area="Admin">Delete unaccessible themes from the database.</a>
            </div>
        </section>
    }
}

@if (Model.ManuallyDeletedThemeNames != null && Model.NotRegisteredThemeNames != null)
{
    if (Model.ManuallyDeletedThemeNames.Count == 0 && Model.NotRegisteredThemeNames.Count == 0)
    {

        <div id="mainForm1">
            @Html.Partial("ThemesPartialView", Model)
        </div>

    }
    else
    {
        <section class="j-admin-section">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>@Localizer["List of themes"]</strong> <br />
                @Localizer["The theme browser is currently unavailable. Please fix the listed issues first."]
            </div>
        </section>

    }
}



<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>@Localizer["System settings information"]</strong> <br />
    @Localizer["Folder with themes"]:<b> @((Model.ThemeFolder) ?? "?")</b>, @Localizer["currently activated theme"]:<b> @(Model.SelectedThemeName ?? "?") </b>
</div>

<div class="alert alert-secondary fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>@Localizer["Intelligent change of theme"]</strong> <br />
    @Localizer["This CMS contains an algorithm for an intelligent change of theme. Provided that the newly " +
    "selected theme contains block holders with the same names, the text blocks" +
    " will be automatically assigned to the new block holders."]
</div>


<section class="j-admin-section">
    <h4><i class="fa fa-upload j-icon" aria-hidden="true"></i>@Localizer["Custom themes"]</h4>
    <p>@Localizer["Extend this system with additional themes."]</p>

    <form enctype="multipart/form-data" asp-controller="Themes" asp-action="UploadTheme" asp-area="Admin">
        <div class="form-group">
            <input type="file"  class="form-control-file" id="files" name="files" aria-describedby="fileHelp" multiple>
            <small id="fileHelp" class="form-text text-muted"> @Localizer["The theme has to be a ZIP file."]</small>
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["Submit selected theme"]" class="btn btn-jasper" id="submitThemeFile" disabled />
        </div>

    </form>

</section>


<div id="modalTargetDiv"></div>



