@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using JasperSite.Models
@using JasperSite.Areas.Admin.Models
@using JasperSite.ViewModels
@model JasperSite.Areas.Admin.ViewModels.ThemesViewModel

@Html.Partial("_ErrorModalPartialViewTemp")
@Html.Partial("_SuccessModalPartialViewTemp")

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<script>
        $(document).ready(function () {

            /* TOOLTIP & HIGHLIGHT */
            $("tr[data-theme='@Model.SelectedThemeName']").css("border-left", "10px solid #BA68C8");

    $('[data-toggle="tooltip"]').tooltip();

            /* DELETE THEME AJAX*/

            $('[data-delete-name]').click(function (e) {
                e.preventDefault();
                var themeName = $(this).data("deleteName");



                appendWindow("@Localizer["Are you sure you want to delete this theme?"]", `@Localizer["Theme"]  <b> ${themeName}</b> @Localizer["will be permanently deleted"].`, function () { return ajaxCall(themeName); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "@Localizer["Delete"]");

            });

            function ajaxCall(themeName) {
                toggleWindow();
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("DeleteTheme","Themes")',
                        data: { themeName: themeName },
                        dataType: 'HTML',
                        success: function (data) {

                            $("#mainForm1").html(data);

                          
                        }


                    });
            }



            /* ACTIVATE THEME AJAX*/
                var activateLinks = $("a[data-activate-name]");

                activateLinks.click(function (e) {
                    e.preventDefault();
                    var currentLink = $(this);
                    var themeName = currentLink.data("activateName");

                    appendWindow("@Localizer["Activate the selected theme?"]", `@Localizer["Theme"] <b> ${themeName}</b> @Localizer["will be activated. Current text block will be assigned to the text holders with appropriate names. If the new theme contains differently named block holders, the text blocks have to be assigned again manually."]`, function () { return ajaxCallActivateTheme(themeName); }, "#modalTargetDiv", "btn-jasper-activate","fa fa-check-circle fa-1x","@Localizer["Activate"]");

            });

            function ajaxCallActivateTheme(themeName) {
                toggleWindow();
                $.ajax({
                        type: 'get',
                        url: '@Url.Action("ActivateTheme","Themes")',
                        data: { themeName: themeName },
                        dataType: 'HTML',
                        success: function (data) {

                            $("#mainForm1").html(data);
                         
                        }
                    });
            }

        });
</script>




<form asp-action="Index" asp-controller="Themes" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm1">
    <div class="themeGalleryContainer">

        @foreach (ThemeInfo info in Model.ThemeInfoList)
        {
            <div class="themeGalleryItem">
                <div class="themeItemName">
                    @info.ThemeName
                    @if (info.ThemeName == Model.SelectedThemeName)
                    {
                        @: (@Localizer["Current"])
                    }
                </div>
                <div>
                    @{string img = Url.Content(info.ThemeThumbnailUrl);}
                    @if (!string.IsNullOrEmpty(img))
                    {
                        <img src="@img" class="img-fluid" />
                    }
                    else
                    {
                        <i class="fa fa-question fa-2x"></i>
                    }
                </div>
                <div class="themeDescription">
                    @if (!string.IsNullOrEmpty(info.ThemeDescription))
                    {
                        @Html.Raw(info.ThemeDescription)

                    }
                    else
                    {
                        <i>@Localizer["Description is unavailable."]</i>

                    }
                </div>
                <div class="themeControl">
                    @{
                        if (info.ThemeName != Model.SelectedThemeName)
                        {

                            <a data-toggle="tooltip" title="@Localizer["Activate"]" asp-area="Admin" asp-controller="Themes" asp-action="ActivateTheme" asp-route-ThemeName="@info.ThemeName" class="btn btn-jasper" data-activate-name="@info.ThemeName"> <i class="fa fa-check-circle fa-1x" aria-hidden="true"></i>  </a>
                            <span data-toggle="modal" data-target="#myModal">
                                <a data-toggle="tooltip" title="@Localizer["Delete"]" asp-area="Admin" asp-controller="Themes" asp-action="DeleteTheme" asp-route-ThemeName="@info.ThemeName" data-delete-name="@info.ThemeName" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>
                            </span>
                        }

                    }

                </div>
            </div>
        }

    </div>











    <input type="hidden" asp-for="PageNumber" />

    <div class="pagingPartialBox">
        @Html.Partial("_JasperPagingPartialView", new JasperPagingViewModel() { DisplayPageNumber = Model.PageNumber, TotalNumberOfPages = Model.TotalNumberOfPages })
    </div>
</form>


