@using JasperSite.Models.Database;
@using JasperSite.ViewModels;
@model JasperSite.Areas.Admin.ViewModels.ArticleListViewModel;
@inject JasperSite.Models.Database.IJasperDataServicePublic J;
@* Script with custom bootstrap pop-up window *@

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<script>


    $(document).ready(function () {
        /* Delete Ajax call */
        var allDeleteLinks = $('a[data-remove-id]').click(function (e) {

            e.stopPropagation(); // table row click will not trigger simultaneously

            e.preventDefault();
            var singleLink = $(this);

            var Id = singleLink.data('removeId');
            var articleName = singleLink.data('articleName');


            appendWindow("@Localizer["Are you sure to delete this article?"]", `@Localizer["Article"] <b> ${articleName}</b> @Localizer["will be permanently deleted"].`, function () { return ajaxCall(Id); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "@Localizer["Delete"]","@Localizer["Close"]");



        });

          function ajaxCall(articleId) {
                toggleWindow();
                 $.ajax({
                    type: 'get',
                    url: '@Url.Action("Delete", "Articles")',
                    data: { id: articleId, page:@Model.CurrentPage },
                    dataType: 'HTML',
                    success: function (data) {
                        $("#listOfArticles").html(data);

                    }
                });
            }



        /* Clickable row */
        $("#articleTable").addClass("j-table-clickable");/* If JS is enabled, table is clickable */
        /*Table row is clickable as a whole*/
        $("#articleTable tr:gt(0)").click(function () {
            var id = $(this).data("href")
            window.location = "/admin/articles/getarticle?id=" + id;
        });



        $("[data-toggle='tooltip']").tooltip();



    });
</script>

@Html.Partial("_ErrorModalPartialViewTemp")
@Html.Partial("_SuccessModalPartialViewTemp")



<style>
    .notPublished td {
        background-color: lightyellow !important;
    }
</style>

<div class="table-responsive">
    <form asp-action="ArticlePaging" asp-controller="Articles" data-ajax="true" data-ajax-method="post" data-ajax-update="#listOfArticles">
        <input type="hidden" asp-for="CurrentPage" />

        @if (Model.Articles.Count() > 0)
        {<table class="table table-bordered j-table j-table-text-center" id="articleTable">
                <tr><th>@Localizer["Name of Article"]</th><th>@Localizer["Category"]</th><th>@Localizer["Date of Creation"]</th><th>@Localizer["Details"]</th><th>@Localizer["Action"]</th></tr>
                @foreach (Article a in Model.Articles)
                {
                    <tr data-href="@a.Id">

                        <td>@a.Name</td>
                        <td>
                            @if (a.Category.Name == "Uncategorized")
                            {
                                @Localizer[a.Category.Name]
                            }
                            else
                            {
                                @a.Category.Name
                            }

                        </td>
                        <td>@a.PublishDate.ToShortDateString()</td>
                        <td>

                            @* Show warning, that article has no URL assigned, although URL rewriting is activated *@
                            @if (JasperSite.Models.Configuration.WebsiteConfig.UrlRewriting && J.GetUrls(a.Id).Count() < 1)
                            {
                                <span data-toggle="tooltip" title="@Localizer["The article hasn't got any assigned URL."]"> <i class="fa fa-2x fa-exclamation-triangle" style="color:#959595"></i></span>
                            }
                            else
                            {
                                @if (!a.Publish)
                                {
                                    <span data-toggle="tooltip" title="@Localizer["Not published article"]"> <i class="fa fa-2x fa-pencil-square" style="color:#959595"></i></span>
                                }
                                else
                                {
                                    <span data-toggle="tooltip" title="@Localizer["Published article"]"> <i class="fa fa-2x fa-check-circle-o" style="color:#959595"></i></span>
                                }
                            }

                        </td>
                        <td>
                            <a data-toggle="tooltip" title="@Localizer["Delete"]" asp-area="admin" asp-controller="articles" asp-action="delete" asp-route-id="@a.Id" data-remove-id="@a.Id" data-article-name="@a.Name" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>
                            <a href="/admin/articles/getarticle?id=@a.Id" class="btn btn-jasper">@Localizer["Edit"]</a>
                        </td>
                    </tr>

                }
            </table>
            <div class="pagingPartialBox">
                @Html.Partial("_JasperPagingPartialView", new JasperPagingViewModel() { DisplayPageNumber = Model.CurrentPage, TotalNumberOfPages = Model.TotalNumberOfPages })
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>Nic zde není!</strong> Momentálně nemáte žádné uložené články.
            </div>

        }



    </form>
</div>

