@using JasperSite.Models.Database
@using JasperSite.Models
@using JasperSite.ViewModels;
@using JasperSite.Areas.Admin.ViewModels;
@inject DatabaseContext databaseContext
@model JasperSite.Areas.Admin.ViewModels.ArticlesViewModel


@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Articles"];
}

@section Scripts {


    <script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>

}


<h2>@Localizer["Articles"] </h2>

<div class="j-admin-section">
    <h4><i class="fa fa-info-circle j-icon" aria-hidden="true"></i>@Localizer["Overview"]</h4>
    <div class="table-responsive ">
        <table class="table table-bordered j-left-border-block">
            <tr>
                <td>@Localizer["Total number of articles"]</td>
                <td>@Model.NumberOfArticles</td>
            </tr>
            <tr>
                <td>@Localizer["Total number of categories"]</td>
                <td>@Model.NumberOfCategories</td>
            </tr>

        </table>
    </div>
</div>

<div class="j-admin-section">
    <h4><i class="fa fa-pencil j-icon" aria-hidden="true"></i>@Localizer["New Article"]</h4>
    @if (Model.UncategorizedCategoryExists)
    {
        <a asp-area="Admin" asp-controller="articles" asp-action="add" class="btn btn-jasper" style="width:200px">@Localizer["Create"]</a>
    }
    else
    {
        <div class=" alert alert-warning">
            <p>@Localizer["There has to be category \"uncategorized\" to add new category."]</p>
            <a asp-area="admin" asp-controller="articles" asp-action="createuncategorizedcategory" class="btn btn-jasper">@Localizer["Create category \"Uncategorized\""]</a>
        </div>
    }
</div>



<div class="j-admin-section">
    <h4><i class="fa fa-table j-icon" aria-hidden="true"></i>@Localizer["List of Articles"]</h4>
    <div id="listOfArticles">
        @Html.Partial("ArticlesListPartialView", Model.ArticleListModel)
    </div>
</div>

<div id="modalTargetDiv"></div>

