@model JasperSite.Areas.Admin.ViewModels.InstallViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using JasperSite.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Areas/Admin/Content/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["Install"]</title>

    <environment exclude="Development">
        <script src="~/bundles/admin.bundle.js"></script>
    </environment>


    <environment include="Development">
        <script src="~/bundles/admin.bundle.js"></script>
    </environment>


    @Html.Partial("_ErrorModalPartialViewTemp")



    <script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
    <script>
        $(document).ready(function () {
            $("#submitButtonReinstall").click(function (e) {


                if ($("#installForm").valid()) {

                    e.preventDefault();
                    appendWindow("@Localizer["Are you sure to reinstall your website?"]","@Localizer["This can not be undone. All content will be deleted."]", function () { toggleWindow(); $("body").addClass("loading"); $("#installForm").submit(); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "@Localizer["Delete all data and reinstall this system."]","@Localizer["Close"]");

                }
            });

            /* Installation has not yet been completed */
            $("#submitButtonClean").click(function (e) {


                if ($("#installForm").valid()) {

                    $("body").addClass("loading");
                }
            });



        });
    </script>



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

    <style>

             body {
                 margin-top: 20px;
             }

             .j-jumbotron-span {
                 color: #BA68C8;
             }


             /* Centered div with spinning icon (without shade) */

             .modal-loading {
                 display: none;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 color: black;
                 background-color: transparent;
                 z-index: 3;
             }


             body.loading .modal-loading {
                 overflow: hidden;
             }

             body.loading .modal-loading {
                 display: block;
             }



             /* Background shade */

             .modal {
                 display: none;
                 position: fixed;
                 z-index: 2;
                 top: 0;
                 left: 0;
                 height: 100%;
                 width: 100%;
                 background: rgba( 255, 255, 255, .8 );
             }

             /* When the body has the loading class, we turn
        the scrollbar off with overflow:hidden */
             body.loading .modal {
                 overflow: hidden;
             }

             /* Anytime the body has the loading class, our
        modal element will be visible */
             body.loading .modal {
                 display: block;
             }
    </style>

</head>

<body>



    <div id="modalTargetDiv"></div>


    <div class="container">

        <div style="margin-bottom:20px">
            <h1>
                J<span class="j-jumbotron-span">asp</span>er Site
            </h1>
            <h2><small>@Localizer["System installation"]</small> </h2>
        </div>





        <div class="row">




            <section class="col-lg-6">
                <div class="j-admin-section">


                    <form id="installForm" method="post" asp-area="admin" asp-controller="install" asp-action="index">

                        <div class="form-group">
                            <label>@Localizer["Choose the database provider"]</label>
                            <select class="form-control" asp-for="SelectedDatabase" asp-items="@(new SelectList(Model.AllDatabases,"Id","Name"))"></select>
                            <span asp-validation-for="SelectedDatabase" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>@Localizer["Insert the connection string"]</label>

                            <textarea rows="3" class="form-control" type="text" asp-for="ConnectionString"> </textarea>
                            <span asp-validation-for="ConnectionString" class="text-danger"></span><br />

                        </div>





                        <div class="form-group">
                            <div class="list-group">

                                <div class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1"><b>@Localizer["Examples of connection strings"]</b></h5>
                                        <small class="text-muted">Tip!</small>
                                    </div>
                                    <p class="mb-1">
                                        <ul style="margin-left:20px;margin-top:5px">
                                            <li>
                                                <i>MSSQL:</i><br /> Data Source=@Localizer["server_name"]; Initial Catalog=@Localizer["database_name"]; Integrated Security=True
                                            </li>
                                            <li>
                                                <i>MySQL:</i> <br />Server=@Localizer["server_name"]; Database=@Localizer["database_name"]; Uid=root;Pwd=root;
                                            </li>
                                        </ul>
                                        @*<small class="text-muted">V uživatelském jménu nezáleží na velikosti písmen.</small>*@
                                    </p>

                                </div>
                            </div>


                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="recreateDb" asp-for="RecreateDatabase" />
                                <label class="form-check-label" for="recreateDb">@Localizer["Recreate selected database"]</label>
                                <p>
                                    <small>@Localizer["During installation or reinstallation, the database must be empty. Provided you have sufficient permissions, you can delete all it's contents selecting the \"Recreate database\" option. Otherwise, you need to empty the database manually."]</small>
                                </p>
                            </div>

                        </div>

                        

                        <div class="form-group">

                            @if (Configuration.GlobalWebsiteConfig.InstallationCompleted)
                            {
                                <a asp-controller="Home" asp-area="Admin" asp-action="Index" class="btn btn-secondary"> @Localizer["Back to the administration"] </a>
                            }

                            @if (!Configuration.GlobalWebsiteConfig.InstallationCompleted)
                            {

                                <input id="submitButtonClean" type="submit" value="@Localizer["Finish the installation"]" class="btn btn-jasper" asp-area="admin" asp-controller="install" asp-action="index" />
                            }
                            else
                            {

                                <input id="submitButtonReinstall" type="submit" value="@Localizer["Reinstall CMS"]" class="btn btn-warning" asp-area="admin" asp-controller="install" asp-action="index" />
                            }
                        </div>
                    </form>


                </div>
            </section>

            <section class="col-lg-6">
                <div class="j-admin-section">
                    @if (!Configuration.GlobalWebsiteConfig.InstallationCompleted)
                    {
                        <div class="alert alert-warning" role="alert">
                           @Localizer["System JasperSite has not yet been installed on this machine. Follow the installation instructions."]
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <p>
                                @Localizer["System JasperSite has been already installed on this machine. Reinstallation will result in the loss of some of the stored data, such as articles, categories, user accounts, images, configuration setttings, and other custom content. Theme folder will be left as is."]
                            </p>
                            
                            <p>
                                @Localizer["In order to display other current configuration settings, select the \"Advanced debug options\"."]
                            </p>
                        </div>

                    }

                    <div class="accordion" id="accordionExample">

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        @Localizer["Advanced debug options"]
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="alert alert-warning" role="alert" style="margin-bottom:0px">
                                        <b>@Localizer["Current settings"]</b><br />
                                        @Localizer["Finished installation"]:  @JasperSite.Models.Configuration.GlobalWebsiteConfig.InstallationCompleted <br />
                                        @Localizer["Connection string"]:  @JasperSite.Models.Configuration.GlobalWebsiteConfig.ConnectionString <br />
                                       @Localizer["Database provider"]:  @JasperSite.Models.Configuration.GlobalWebsiteConfig.TypeOfDatabase<br />
                                       @Localizer["Name of the current theme"]:  @JasperSite.Models.Configuration.GlobalWebsiteConfig.ThemeName<br />
                                        @Localizer["Folder with themes"]: @JasperSite.Models.Configuration.ThemeFolder <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>




    <div class="modal"></div>
    <div class="modal-loading"><div><i class="fa fa-4x fa-spinner fa-spin"></i></div></div>

</body>
</html>
