@model JasperSite.Areas.Admin.ViewModels.CategoriesViewModel
@using JasperSite.Models.Database;

@Html.Partial("_ErrorModalPartialViewTemp")
@Html.Partial("_SuccessModalPartialViewTemp")

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
<script>
/* AJAX REMOVE CATEGORY */
    $(document).ready(function () {

        $(document) - blur();

            var allRemoveLinks = $('a[data-delete-id]').click(function (e) {

                e.preventDefault();
                var singleLink = $(this);

                var categoryToBeRemovedId = singleLink.data('deleteId');
                var categoryName = singleLink.data('categoryName');

                appendWindow("@Localizer["Do you really want to delete this category?"]", `@Localizer["Category"]  <b> ${categoryName}</b> @Localizer["will be permanently deleted"].`, function () { return ajaxCall(categoryToBeRemovedId); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "@Localizer["Delete"]","@Localizer["Close"]");
        });


        function ajaxCall(categoryToBeRemovedId) {

            toggleWindow();
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DeleteCategory","Categories")',
                    data: { id: categoryToBeRemovedId },
                    dataType: 'HTML',
                    success: function (data) {

                        $("#categoryPartialForm").html(data);

                       //savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");

                    }
                });
        }



    });

    /* Bootstrap tooltip */
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>



<section class="j-admin-section">
    <h4><i class="fa fa-pencil j-icon" aria-hidden="true"></i>@Localizer["New Category"]</h4>
    <form asp-action="CreateNewCategory" asp-controller="Categories" method="post" id="formNewCategory">
        <div class="form-group">
            <input id="tbCategoryName" type="text" asp-for="NewCategory.NewCategoryName" placeholder="@Localizer["Name of Category"]" class="form-control" style="z-index:0" />
            <span asp-validation-for="NewCategory.NewCategoryName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-jasper" style="width:200px;z-index:0" value="@Localizer["Create"]" id="btnSubmit" />
        </div>


    </form>
</section>

<section class="j-admin-section">
    <h4><i class="fa fa-table j-icon" aria-hidden="true"></i>@Localizer["List of Categories"]</h4>

    <p>
        @if (Model.Categories != null)
        {
        <table class="table table-bordered j-table">
            <tr><th class="col-sm" style="text-align:left">@Localizer["Name"]</th><th style="min-width:200px">@Localizer["Number of Articles"]</th> <th>@Localizer["Action"]</th></tr>
            @foreach (Category c in Model.Categories)
                {
            <tr>

                <td>
                    @if (c.Name == "Uncategorized")
                            {
                    @Localizer[c.Name]
                            }
                            else
                            {
                    @c.Name
                            }

                </td>
                <td>@c.Articles.Count()</td>
                <td>
                    @if (c.Name != "Uncategorized")
                            {
                    <a data-delete-id="@c.Id" data-category-name="@c.Name" asp-controller="categories" asp-action="deletecategory" asp-route-id="@c.Id" asp-area="admin" class="btn btn-jasper btn-jasper-delete"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                            }
                            else
                            {
                    <span data-toggle="tooltip" title="@Localizer["This default category can't be deleted."]">  <a href="#" class="btn btn-jasper btn-jasper-delete disabled"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a></span>
                            }
                </td>
            </tr>
                }
        </table>
        }
        else
        {
        <div class="alert alert-warning" role="alert">
            Žádné rubriky nejsou k dispozici.
        </div>

        }
    </p>
</section>