@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Areas/Admin/Content/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @* In case of disabled javascript, at least some basic css will be loaded *@
    @* If JS is active, this will not be rendered and web pack will bundle all JS and CSS files *@
    <noscript>
        <link href="~/nodeLib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Areas/Admin/Content/Styles/design.min.css" rel="stylesheet" />
        <link href="~/Areas/Admin/Content/Styles/design-with-sidebar.min.css" rel="stylesheet" />
        <link href="~/nodeLib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        @* No-JS warning would be otherwise blocking part of the page *@
        <style>
            .j-margin-top {
                margin-top: 50px !important;
            }
        </style>
    </noscript>

    <environment exclude="Development">
        <script src="~/bundles/admin.bundle.js"></script>
    </environment>


    <environment include="Development">
        <script src="~/bundles/admin.bundle.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)



    <!-- Menu switching -->
    <script>
        $(document).ready(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
                $("#controlPanel").toggleClass("j-control-panel-margin-right");
            });
        });
    </script>

    <!--Refresh button-->
    <script>
$(document).ready(function(){
        $("#refreshButton").click(function(e){
       e.preventDefault();


                    $.ajax({

                        type: 'get',
                        url: '@Url.Action("Refresh","Home")',
                        success: function (data) {
                            savedInfo("@Localizer["Configuration settings updated."]", "alert-success");
                        },
        error: function(){
            savedInfo("<strong>Failure.</strong> Configuration data could not be updated.", "alert-danger");
        }
                    })






        });
});
    </script>

</head>

<body>
   
    <div id="wrapper">
       
        <!---------------------------------------Sidebar-------------------------------------------->
        <nav>
            <div id="sidebar-wrapper">
               
                <div class="j-sidebar-brand">
                    <h4>J<span style="color:#BA68C8">asp</span>erSite</h4>
                </div>
                <div class="menuGroup">
                    <div class="j-link-container">
                        <a class="j-link  @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "home" ? "j-menu-highlight" : "" )" asp-controller="home" asp-action="index" asp-area="admin">
                            <i class="fa fa-home j-fa-margin" aria-hidden="true"></i>
                           @Localizer["Dashboard"]
                        </a>


                    </div>

                    <div class="j-link-container">
                        <a class="j-link  @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "categories" ? "j-menu-highlight" : "" )" asp-controller="categories" asp-action="index" asp-area="admin">
                            <i class="fa fa-folder j-fa-margin" aria-hidden="true"></i>
                            @Localizer["Categories"]
                        </a>
                    </div>

                    <div class="j-link-container">
                        <a class="j-link @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "articles" ? "j-menu-highlight" : "" )" asp-controller="articles" asp-action="index" asp-area="admin">
                            <i class="fa fa-edit j-fa-margin" aria-hidden="true"></i>
                            @Localizer["Articles"]
                        </a>
                    </div>

                    <div class="j-link-container">
                        <a class="j-link  @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "themes" ? "j-menu-highlight" : "" )" asp-controller="themes" asp-action="index" asp-area="admin">
                            <i class="fa fa-paint-brush j-fa-margin " aria-hidden="true"></i>
                            @Localizer["Themes"]
                        </a>
                    </div>

                    <div class="j-link-container">
                        <a class="j-link @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "blocks" ? "j-menu-highlight" : "" )" asp-controller="blocks" asp-action="index" asp-area="admin">
                            <i class="fa fa-comment-o j-fa-margin" aria-hidden="true"></i>
                            @Localizer["Text blocks"]
                        </a>
                    </div>

                    <div class="j-link-container">
                        <a class="j-link @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "images" ? "j-menu-highlight" : "" )" asp-controller="images" asp-action="index" asp-area="admin">
                            <i class="fa fa-image j-fa-margin" aria-hidden="true"></i>
                            @Localizer["Images"]
                        </a>
                    </div>

                    <div class="j-link-container">
                        <a class="j-link @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "users" ? "j-menu-highlight" : "" )" asp-controller="users" asp-action="index" asp-area="admin">
                            <i class="fa fa-user-circle-o j-fa-margin" aria-hidden="true"></i>
                            @Localizer["Users"]
                        </a>
                    </div>

                    <div class="j-link-container">
                        <a class="j-link @(ViewContext.RouteData.Values["controller"].ToString() .ToLower()== "settings" ? "j-menu-highlight" : "" )" asp-controller="settings" asp-action="index" asp-area="admin">
                            <i class="fa fa-cogs j-fa-margin" aria-hidden="true"></i>
                            @Localizer["Settings"]
                        </a>
                    </div>

                    <div class="j-link-container">
                        <a class="j-link @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "about" ? "j-menu-highlight" : "" )" asp-controller="about" asp-action="index" asp-area="admin">
                            <i class="fa fa-info-circle j-fa-margin" aria-hidden="true"></i>
                            @Localizer["About"]
                        </a>
                    </div>

                </div>
            </div>
        </nav>

        <!----------------------------------END Sidebar------------------------------------------->
        <!---------------------------------Header Panel-------------------------------------------->
        <header>
            <div id="headerPanel">

                <!--Menu button-->
                <div class="j-flex-row">
                    <div class="mainToggleButton">
                        <a href="#menu-toggle" id="menu-toggle">
                            <i class="fa fa-bars fa-2x j-hamburger-menu" aria-hidden="true" alt="menu"></i>
                        </a>
                    </div>

                    <div class="headerLine">




                        <!---------------DESKTOP VERSION OF MENU-------------->
                        <div id="controlPanel" class="j-flex-row desktop j-control-panel j-control-panel-margin-right">

                            <!--View page button-->
                            <div class="j-header-group">
                                <div class="j-header-group-item">
                                    <a class="btn btn-jasper btn-jasper-icon-control-panel" asp-controller="home" asp-area="admin" asp-action="index">   <i class="fa fa-home fa-1x" aria-hidden="true"></i> </a>
                                </div>
                            </div>

                            <!--View page button-->
                            <div class="j-header-group">
                                <div class="j-header-group-item">
                                    <a class="btn btn-jasper btn-jasper-icon-control-panel" asp-controller="home" asp-area="" asp-action="index" target="_blank">   <i class="fa fa-globe fa-1x" aria-hidden="true"></i> </a>
                                </div>
                            </div>

                            <!--Refresh button-->
                            <div class="j-header-group">
                                <div class="j-header-group-item  ">
                                    <a id="refreshButton" class="btn btn-jasper btn-jasper-icon-control-panel" asp-controller="home" asp-area="admin" asp-action="refresh">   <i class="fa fa-refresh fa-1x" aria-hidden="true"></i> </a>
                                </div>
                            </div>

                            <div class="j-header-group">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-jasper btn-jasper-icon-control-panel" style="left:5px;" asp-controller="login" asp-area="admin" asp-action="signout"><i class="fa fa-sign-out fa-1x"> </i> @*Odhlásit uživatele <i> @User.Identity.Name</i>*@</a>
                                }
                                else
                                {

                                }
                            </div>


                            <!------------END DESKTOP VERSION OF MENU---------------->





                        </div>

                    </div>
                </div>

                <!--Noscript notification-->
                <div class="j-flex-row" style="background-color:red">
                    <noscript>@Localizer["JavaScript is disabled in your browser. Some features could be unavailabe."]</noscript>
                </div>







                @*<!--------------------------Mobile version of horizontal header panel --------------------------------->
                <div class="j-flex-row j-secondary-header mobile">

                    <!--View page button-->
                    <div class="j-header-group">
                        <div class="j-header-group-item">
                            <a class="btn btn-jasper btn-jasper-icon" asp-controller="Home" asp-area="Admin" asp-action="Index">   <i class="fa fa-home fa-1x" aria-hidden="true"></i> </a>
                        </div>
                    </div>

                    <!--View page button-->
                    <div class="j-header-group">
                        <div class="j-header-group-item">
                            <a class="btn btn-jasper btn-jasper-icon" asp-controller="Home" asp-area="" asp-action="Index" target="_blank">   <i class="fa fa-globe fa-1x" aria-hidden="true"></i> </a>
                        </div>
                    </div>

                    <!--Search button-->
                    <div class="j-header-group">
                        <div class="j-header-group-item  ">
                            <a id="refreshButton" class="btn btn-jasper btn-jasper-icon" asp-controller="Home" asp-area="Admin" asp-action="Refresh">   <i class="fa fa-refresh fa-1x" aria-hidden="true"></i> </a>
                        </div>
                    </div>

                    <div class="j-header-group">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-jasper btn-user-icon" style="left:5px;" asp-controller="Login" asp-area="admin" asp-action="SignOut"><i class="fa fa-user-circle fa-1x"> </i> Odhlásit</a>
                        }
                        else
                        {

                        }
                    </div>
                </div>
                <!--------------------------END Mobile version of horizontal header panel --------------------------------->*@

            </div>
        </header>
        <!-------------------------------------------------END Header Panel------------------------------------------------>
        <!-----------------------------------Page Content--------------------------->
        <main>
            <div id="page-content-wrapper" class="mainContent">
                <div class="container-fluid j-margin-top">
                    @RenderBody()
                </div>
            </div>
        </main>
        <!------------------------------------END Page Content---------------------->

    </div>
</body>
</html>