@using JasperSite.Models.Database
@using JasperSite.Models
@inject IJasperDataServicePublic J
@*<script src="~/node_modules/tinymce/tinymce.js"></script>*@
<script src="~/nodeLib/tinymce/tinymce.min.js"></script>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<script>
    $(document).ready(function () {

        tinymce.init({

            selector: '#myTextArea',

            branding: false, // no "powered by tinymce" logo
            // entity_encoding: "raw",


            plugins: "image lists link table imagetools advlist autolink charmap print preview anchor searchreplace visualblocks code fullscreen insertdatetime media contextmenu paste visualchars toc textpattern textcolor template hr help emoticons colorpicker codesample",
            toolbar: ["undo redo | paste | fontselect | styleselect forecolor backcolor | bold italic hr | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent | template insertdatetime anchor link media image emoticons toc table | visualblocks visualchars |searchreplace code codesample charmap print | help  fullscreen | j-insert-image"],

            contextmenu: "link image inserttable | cell row column deletetable",
            templates: [
                { title: 'JasperSite logo', description: 'Adds JSC logo', content: '<b>J<span style="color:tomato">asp</span>erSite' },
            ],

            codesample_languages: [
                { text: 'HTML/XML', value: 'markup' },
                { text: 'JavaScript', value: 'javascript' },
                { text: 'CSS', value: 'css' },
                { text: 'C-like', value: 'clike' },
                { text: 'C#', value: 'csharp' },
                { text: 'PHP', value: 'php' },
                { text: 'Java', value: 'java' },
                { text: 'GIT', value: 'git' },
                { text: 'MARKDOWN', value: 'markdown' },
                { text: 'ASP NET', value: 'aspnet' },

                { text: 'F#', value: 'fsharp' },
                { text: 'JSON', value: 'json' },
                { text: 'LESS', value: 'less' },
                { text: 'SASS', value: 'sass' },
                { text: 'SMALLTALK', value: 'smalltalk' },
            ],
            image_dimensions: true,
            image_class_list: [
                { title: 'Responsive', value: 'img-fluid' }
            ],

            //convert_urls: false, // url will remain unchanged, default conversion is ../Images/GetImage?id=1
            image_list: [

                @foreach(Image img in J.GetAllImages())
                {
                    @: { title: '@Html.Raw(img.Name)', value: '@Url.Action("GetImage","Images",new { id=img.Id})' },
                }
            ],


            /* Custom button for image-insert */
            setup: function (ed) {
                ed.addButton('j-insert-image', {
                    title: 'Insert image from JSC',
                    image: '@Url.Content(@"~/Areas/Admin/Content/Images/tinymceimgupload.png")',

                    onclick: function () {
                        ShowImageDialog();
                    }
                })
            },

// This URL settings will generate relative paths to emoticons (not with localhost:5000/../../ hardcoded)
relative_urls : false,
remove_script_host : true,
document_base_url : "/",
convert_urls : true,



        });
        /*
        image ... allows to add image
        lists ... bulleted list
        link ... allows to add hyperlink manually from menu
        imagetools ... tools appears when img is selected in the gui
        table ... allows to add tables from menu
        advlist ... advanced bulleted lists
        autolink ... automatically creates hyperlinks from entered text, like www.mypage.com
        charmap ... inserts special character
        print ... shows browsers print dialog
        preview ... shows how the page will be eventually rendered
        anchor ... links can be pointed to anchors
        searchreplace ... adds search & replace feature
        visualblocks ... allows user to display dashed area around paragraphs etc.
        code ... user can view and edit HTML code of the textarea
        fullscreen ... allows to toggle full-screen edit mode
        insertdatetime ... allows to choose from various date-time formats and insert current time/date
        media ... allows to add for instance youtube video
        contextmenu ... enables right-click menu
        paste ... allows to paste text from word - does not work in chrome :/
        visualchars ... shows invisible characters
        toc ... adds table of contents
        textpattern ... something like markdown syntax, ie. "##header" creates bigger text
        textcolor ...FORECOLOR + BACKCOLOR in toolbar
        template ... allows to define custom template
        hr .... adds horizontal rule
        help ... shows keyboard shortcuts and lists of installed plugins
        emoticons ... allows user to add emoticons
        colorpicker ... adds custom color dialog to forecolor and backcolor buttons

         Not added:
         wordcount ... adds number of words in the bottom right hand corner

        */

    /*
    PRISM.JS PLUGINS:

 Line Highlight: using manually added: data-line="1" can be row highlighted
 LineNumbers ...inside <pre> add manually : class “line-numbers“
 ShowLanguage ... shows language in the right hand side of the row
 Toolbar ... copyToClipboard & ShowLanguage dependency
 CopyToClipboard button - shows button in the right hand side of the row
 Theme css: COY – single theme .css file, does not contain other themes

    */









        function ShowImageDialog() {
            $("#imgTable").find("tr:gt(0)").remove(); // clears all images that were shown previously
            $("#dialog").dialog();
            GetImagesId();
        }


        function GetImagesId() {

             $.ajax({
                    type: 'get',
                    url: '@Url.Action("GetImagesId", "Images")',
                    dataType: 'json',
                    success: function (data) {


                        ShowImages(data);


                    }
                });

        }

        function FetchDataAjax(id) {

              $.ajax({
                    type: 'get',
                  url: '@Url.Action("GetImageForImageList", "Images")',
                  data: {id:id},
                    dataType: 'json',
                    success: function (data) {

                        AppendImage(data);


                    }
                });

        }

        function AppendImage(data) {

            $("#imgTable tr:last").after(`<tr data-image-id="${data.id}"> <td><img class="img-fluid" src="data:image/png;base64,${data.data}"  title="${data.name}" /></td><td><a href="#" class="btn btn-jasper">@Localizer["Insert"]</a></td></tr>`);
            $(`#imgTable tr[data-image-id='${data.id}']`).click(function () {
                tinymce.activeEditor.insertContent(`<img alt="${data.name}" class="img-fluid" src="@Url.Action("GetImage","Images")?id=${data.id}"/>`)
            });

        }

        function ShowImages(data) {

            //console.log(data);

            if (data.length == 0) { // if there are no images, alertbox will be shown

                $("#imgTable").hide();
                $("#noImages").show();
            }
            else {
                $("#imgTable").show();
                $("#noImages").hide();

            }

            var i;
            for (i = 0; i <data.length; i++) {
                var id = data[i];
                FetchDataAjax(id);
            }



        }



    });
</script>

<div id="dialog" title="@Localizer["Insert image"]" style="overflow-y:auto;display:none;z-index:4">
    <h3>@Localizer["List of images"]</h3>

    <table id="imgTable" class="table table-bordered j-table j-table-text-center">
        <tr><th>@Localizer["View"]</th><th>@Localizer["Insert"]</th></tr>
    </table>

    <div id="noImages" class="alert alert-warning">@Localizer["No images were found."]</div>

</div>

