<!DOCTYPE html>
<html>
<head>   
    <link rel="shortcut icon" href="~/Areas/Admin/Content/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*********************************************************************** Styles ****************************************************************************@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/tether/dist/css/tether.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/design.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/simple-sidebar.css" />
        @*<link href="~/lib/chosen/chosen.css" rel="stylesheet" />*@  <!--Classic Chosen CSS -->
        <link href="~/lib/chosen-bootstrap/chosen.bootstrap.css" rel="stylesheet" />  <!--Bootstrap style Chosen CSS -->
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />    
    </environment>

    <environment exclude="Development">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/tether/dist/css/tether.css" />        

        <!--Nalinkovat minifikaci-->
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/design.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/simple-sidebar.css" />

        <link href="~/lib/chosen-bootstrap/chosen.bootstrap.css" rel="stylesheet" />  <!--Without CDN-->
       
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css"
              integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous" 
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.css">
    </environment>

   @*********************************************************************** Scripts ****************************************************************************@
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>     
        <script src="~/lib/chosen/chosen.jquery.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>       
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" asp-fallback-href="~/lib/tether/dist/js/tether.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn">
        </script>
   
        <!-- Without CDN -->
        <script src="~/lib/chosen/chosen.jquery.js"></script>      
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>

    @{Html.RenderPartial("_ValidationScriptsPartial");}

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
    

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

    <!-- Menu switching -->
    <script>
        $(document).ready(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled"); 
            });
        });
    </script>
</head>

<body>
    
<div id="wrapper">

    <!----------------------------------Sidebar------------------------------------------>
    <nav>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="@Url.Action("Index","Home")">
                        Přehled
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Categories","Home")">Rubriky</a>
                </li>
                <li>
                    <a href="@Url.Action("Articles","Home")">Články</a>
                </li>
                <li>
                    <a href="@Url.Action("Themes","Home")">Vzhled</a>
                </li>
                <li>
                    <a href="#">Uživatel</a>
                </li>
                <li>
                    <a href="#">Nastavení</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Nápověda</a>
                </li>
            </ul>
        </div>
    </nav>
    <!---------------------------------END Sidebar--------------------------------------->
   
       
        
        
        
    <!---------------------------------Header Panel--------------------------------------->
    <header>
        <div id="headerPanel">
            
            <!--Menu button-->
            <div class="j-flex-row">
                <div class="mainToggleButton">
                    <a href="#menu-toggle" id="menu-toggle">
                        <img src="~/Areas/Admin/Content/Images/menuIcon.svg" alt="menu" />
                    </a>
                </div>

                <div class="headerLine">
                    <div class="mainTitle">
                       <span class="jasperHeading"> J<span class="j-gray-color">asp</span>er Site <span class="j-gray-color">Core</span></span>
                    </div>
                </div>
            </div>

           <!--Noscript notification-->
            <div class="j-flex-row" style="background-color:red" >
                <noscript>  Ve Vašem prohlížeči je zakázán JavaScript. Některé funkcionality nemusí být dostupné.</noscript>
            </div> 


             <!--Desktop version of horizontal header panel -->
             <div class="j-flex-row j-secondary-header desktop" >
                  
                    <!--View page button-->
                    <div class="j-header-group">
                        <div class="j-header-group-item">
                            <a class="btn btn-jasper btn-jasper-icon" asp-controller="Home" asp-area="" asp-action="Index">   <i class="fa fa-globe fa-2x" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                      
                    <!--Search button-->
                    <div class="j-header-group">
                        <div class="j-header-group-item  ">                                
                            <button class="btn btn-jasper btn-jasper-icon">  <i class="fa fa-search fa-2x" aria-hidden="true"></i></button> 
                            <input type="text" class="jasper-textbox" placeholder="Hledat" />
                        </div>
                    </div>
                                            
                    <!--Navigation Button-->
                    <div class="j-header-group">
                        <div class="j-header-group-item  "><b>Články / Článek </b></div>
                    </div>

               </div>  <!--END Desktop version of horizontal header panel -->   




            <!--Mobile version of horizontal header panel -->
           <div class="j-flex-row j-secondary-header mobile">

                <div class="j-header-group">
                    
                    <div class="j-header-group-item">
                        <button class="btn btn-jasper btn-jasper-icon">   <i class="fa fa-home fa-2x" aria-hidden="true"></i> </button>
                    </div>

                    <div class="j-header-group-item">
                        <a class="btn btn-jasper btn-jasper-icon"  asp-controller="Home" asp-area="" asp-action="Index">   <i class="fa fa-globe fa-2x" aria-hidden="true"></i> </a>
                    </div>

                    <div class="j-header-group-item">
                        <button class="btn btn-jasper btn-jasper-icon">  <i class="fa fa-search fa-2x" aria-hidden="true"></i></button>   
                    </div>  

                </div>
          </div>



            </div>
    </header>
    <!--------------------------------END Header Panel------------------------------->


    <!-------------------Page Content--------------------------->
    <main >
        <div id="page-content-wrapper">
            <div class="container-fluid j-margin-top">
                <div class="row">  
                        <!--Content will not take all space when LG-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 ">                          
                        @RenderBody()
                    </div>                       
                </div>
            </div>
        </div>
    </main>
    <!-------------------END Page Content---------------------->
   
</div>

   
</body>
</html>