@model JasperSite.Areas.Admin.ViewModels.ImagesViewModel
@using JasperSite.Models.Database

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@Html.Partial("_ErrorModalPartialViewTemp")
@Html.Partial("_SuccessModalPartialViewTemp")

<h4><i class="fa fa-paint-brush j-icon" aria-hidden="true"></i>@Localizer["Uploaded images"]</h4>

<script>

    /* AJAX DELETE IMAGE */
     $(document).ready(function () {
            var allAddLinks = $('a[data-remove-id]').click(function (e) {

                e.preventDefault();
                var singleLink = $(this);

                var id = singleLink.data('removeId');
                var imageName = singleLink.data('imageName');

                appendWindow("@Localizer["Are you sure you want to delete this image?"]", `@Localizer["Image"] <b> ${imageName}</b> @Localizer["will be permanently deleted."]`, function () { return ajaxCall(id); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "@Localizer["Delete"]","@Localizer["Close"]");

         });


         function ajaxCall(id) {
             toggleWindow();
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DeleteImage", "Images")',
                    data: { imgId: id },
                    dataType: 'HTML',
                    success: function (data) {

                        $("#mainForm").html(data);

                        savedInfo("@Localizer["<strong>Saved</strong> All the changes has been successfully saved."]", "alert-success");
                    }
                });

         }

        });
</script>




@if (Model.ImagesFromDatabase.Count > 0)
{
    <div class="galleryContainer">



        @foreach (Image img in Model.ImagesFromDatabase)
        {
        <div class="galleryItem">

            <div style="display:flex">
                <div >
                    @if (img.InDb)
                    {
                        <i class="fa fa-database" style="padding:10px" title="@Localizer["Storage"]: @Localizer["database"]"></i>
                    }
                    else
                    {
                        <i class="fa fa-folder-open" style="padding:10px" title="@Localizer["Storage"]: @Localizer["filesystem"]"></i>
                    }

                </div>

                <div>
                    <a data-toggle="tooltip" title="@Localizer["Delete"]" asp-area="admin" asp-controller="images" asp-action="deleteimage" asp-route-imgId="@img.Id" data-remove-id="@img.Id" data-image-name="@img.Name" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>
                </div>
            </div>


            <div>
                <img alt="@img.Name" src="@Url.Action("GetImage", "Images", new { id = img.Id })" class="img-fluid" />
            </div>


            <div class="itemName">
                @img.Name <br />
                <i> @Localizer["Storage"]: @((@img.InDb) ? Localizer["database"] : Localizer["filesystem"]) </i>
            </div>
            @if (img.ImageData.Data == null)
            {
                <div style="width:100%" class="alert alert-warning">
                    @Localizer["Image was not found"]
                </div>
            }

        </div>
        }

    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
       @Localizer["<strong>Warning </strong> No images have been uploaded yet."]
    </div>

}
