@using JasperSiteCore.Models.Database;
@model JasperSiteCore.Areas.Admin.ViewModels.UsersViewModel
<script>
/* AJAX REMOVE HOLDER */
        $(document).ready(function () {


            var allDeleteLinks = $('a[data-remove-id]').click(function (e) {

                e.preventDefault();
                var singleLink = $(this);

                var Id = singleLink.data('removeId');
               

                $.ajax({
                type: 'get',
                url: '@Url.Action("DeleteUser", "Users")',
                data: { id:Id },
                dataType: 'HTML',
                success: function (data) {

                $("#mainForm").html(data);

                savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
                }
                });
                });
                });
</script>

                <h2><i class="fa fa-table j-icon" aria-hidden="true"></i>  Seznam uživatelů</h2>
                <div class="table-responsive">
                    <table class="table table-bordered j-table j-table-text-center">
                        <tr><th>Odstranit</th><th>Uživatelské jméno</th><th>Přezdívka</th><th>Role</th><th>Upravit</th></tr>
                        @foreach (User u in Model.Users)
                        {
                            <tr style="@((User.Identity.Name==u.Nickname)? "border-left:10px solid #BA68C8":"" )">
                                <td>
                                    @if (User.Identity.Name.Trim() == u.Nickname.Trim())
    {<i class="fa fa-check fa-1x" aria-hidden="true"></i>
                                        @: Aktivní uživatel

    }
    else
    {
                                <a data-toggle="tooltip" title="Odebrat" asp-area="Admin" asp-controller="Users" asp-action="DeleteUser" asp-route-id="@u.Id" data-remove-id="@u.Id" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>


}

                                </td>
                                
                                
                                
                                <td>@u.Username</td>
                                <td>@u.Nickname</td>
                                <td>@u.Role.Name</td>
                                <td><a href="/Admin/Users/EditUser?id=@u.Id" class="btn btn-jasper">Upravit</a></td>
                            </tr>
                        }
                    </table>
                </div>