@using JasperSiteCore.Models.Database;
@model JasperSiteCore.Areas.Admin.ViewModels.UsersViewModel
<script>
/* AJAX REMOVE HOLDER */
 $(document).ready(function () {

     /* AJAX delete user */
    var allDeleteLinks = $('a[data-remove-id]').click(function (e) {

        e.stopPropagation(); // table row click will not trigger simultaneously

            e.preventDefault();
            var singleLink = $(this);

            var Id = singleLink.data('removeId');

            $.ajax({
            type: 'get',
            url: '@Url.Action("DeleteUser", "Users")',
            data: { id:Id },
            dataType: 'HTML',
            success: function (data)
            {
            $("#mainFormPartial").html(data);
            savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
            }
      });
     });

     // Clickable table rows
           

        $("#usersTable").addClass("j-table-clickable");/* If JS is enabled, table is clickable */

        /*Table row is clickable as a whole*/
        $("#usersTable tr").click(function (e) {
            var id = $(this).data("href")
            window.location = "/Admin/Users/EditUser?id=" + id;
          
        });
   


 });
</script>

                <h2><i class="fa fa-table j-icon" aria-hidden="true"></i>  Seznam uživatelů</h2>
                <div class="table-responsive">
                    <table id="usersTable" class="table table-bordered j-table j-table-text-center">
                        <tr><th>Odstranit</th><th>Uživatelské jméno</th><th>Přezdívka</th><th>Role</th><th>Upravit</th></tr>
                        @foreach (User u in Model.Users)
                        {
                            <tr data-href="@u.Id" style="@((User.Identity.Name.Trim().ToLower()==u.Username.Trim().ToLower())? "border-left:10px solid #BA68C8":"" )">
                                <td>
                                    @if (User.Identity.Name.Trim().ToLower() == u.Username.Trim().ToLower())
    {<i class="fa fa-check fa-1x" aria-hidden="true"></i>
                                        @: <span title="Aktivního uživatele není možné odstranit.">Aktivní uživatel</span>

    }
    else
    {
                                <a data-toggle="tooltip" title="Odebrat" asp-area="Admin" asp-controller="Users" asp-action="DeleteUser" asp-route-id="@u.Id" data-remove-id="@u.Id" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>


}

                                </td>
                                
                                
                                
                                <td>@u.Username</td>
                                <td>@u.Nickname</td>
                                <td>@u.Role.Name</td>
                                <td><a href="/Admin/Users/EditUser?id=@u.Id" class="btn btn-jasper">Upravit</a></td>
                            </tr>
                        }
                    </table>
                </div>