@using JasperSiteCore.Models.Database
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
 



    <script>
    

        $(function () {
           
           $("#selCategory").chosen(/*{ width: "50%" }*/);
     
           $("table tr").click(function () { 
               var id=  $(this).data("href")
               window.location = "/Admin/Article/Index?id="+id ;

             });

       });

    </script>
}


<div class="banner1">
    <div>  Články</div>
</div>
 

 <h2> <i class="fa fa-info-circle main-color-icon" aria-hidden="true"></i> Přehled</h2>  
<hr />

  <h2><i class="fa fa-pencil  main-color-icon" aria-hidden="true"></i>  Nový článek</h2>
<hr />



<h2 id="articles"> <i class="fa fa-table main-color-icon" aria-hidden="true"></i>  Seznam článků</h2>

<div class="jasper-filter-panel">
    <div class="form-inline form-margins">

        <div class="input-group">
            <label class="label-margins jasper-label">Kategorie </label>
            <div style="width:200px">
                <select id="selCategory">
                    @foreach (Category c in DbHelper.GetAllCategories())
            {

                        <option value="@c.Id">@c.Name</option>
                    }

                </select>
            </div>
        </div>

        <div class="input-group">

            <label class="label-margins jasper-label">Počet </label>

            <select id="selCategory" class="custom-select">
                @for (int i = 1; i <= 10; i++)
                {

                    <option value="@i">@i</option>
                }

            </select>
        </div>

 </div>

</div>


    <table class="table table-bordered jasper-table">
        <tr>  <th>Id</th><th>Publikováno</th><th>Jméno článku</th><th>Obsah</th></tr>
        @foreach (Article a in DbHelper.GetAllArticles())
        {
            <tr data-href="@a.Id">
                <td>@a.Id</td>
                <td>@a.PublishDate</td>
                <td>@a.Name</td>
                <td>@Html.Raw(a.HtmlContent)</td>

            </tr>
        }
    </table>
