@using JasperSiteCore.Models.Database
@using JasperSiteCore.Models

@section Scripts {
    <script>

        $(function () {

            $("#selCategory").chosen(/*{ width: "100%" }*/);

            $("#articleTable").addClass("j-table-clickable");/* If JS is enabled, table is clickable */

            /*Table row is clickable as a whole*/
            $("#articleTable tr").click(function () {
                var id = $(this).data("href")
                window.location = "/Admin/Article/Index?id=" + id;
            });
        });

    </script>
}


<div class="banner1">
    <div>Články</div>
</div>


<h2> <i class="fa fa-info-circle j-icon" aria-hidden="true"></i> Přehled</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td>Celkový počet článků</td>
            <td>@Configuration.DbHelper.GetNumberOfEntities("Articles")</td>
        </tr>
        <tr>
            <td>Celkový počet kategorií</td>
            <td>?</td>
        </tr>

    </table>
</div>
<hr />

 <h2><i class="fa fa-pencil  j-icon" aria-hidden="true"></i>  Nový článek</h2>
 <a asp-area="Admin" asp-controller="Article" asp-action="Add" class="btn btn-jasper" style="width:200px">Vyvořit</a> 

<hr />



<h2 id="articles"> <i class="fa fa-table j-icon" aria-hidden="true"></i>  Seznam článků</h2>

<div class="j-filter-panel">
   
    <div class="j-filter-container">
        <div class="j-label-container" style="width:80px"><div class="j-label-container-inner">Kategorie</div></div>
        <div class="j-input-container" style="width:140px">
            <select id="selCategory">
                @foreach (Category c in Configuration.DbHelper.GetAllCategories())
                {
                    <option value="@c.Id">@c.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="j-filter-container">
        <div class="j-label-container" style="width:80px"><div class="j-label-container-inner">Počet</div></div>
        <div class="j-input-container">
            <select id="selCategory" class="custom-select" style="width:140px">
                @for (int i = 1; i <= 10; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
    </div>

</div>


<div class="table-responsive">
    <table class="table table-bordered j-table j-table-text-center" id="articleTable">
        <tr>  <th>Id</th><th>Publikováno</th><th>Jméno článku</th><th>Obsah</th><th>Akce</th></tr>
        @foreach (Article a in Configuration.DbHelper.GetAllArticles())
        {
            <tr data-href="@a.Id">
                <td>@a.Id</td>
                <td>@a.PublishDate</td>
                <td>@a.Name</td>
                <td>@Html.Raw(a.HtmlContent)</td>
                <td><a href="/Admin/Article/Index?id=@a.Id" class="btn btn-jasper">Upravit</a></td>
            </tr>
        }
    </table>
</div>


