@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using JasperSiteCore.Models
@using JasperSiteCore.Areas.Admin.Models
@using JasperSiteCore.ViewModels
@model JasperSiteCore.Areas.Admin.ViewModels.ThemesViewModel

<script>
        $(document).ready(function () {

            $("tr[data-theme='@Model.SelectedThemeName'] td").css("background-color", "lightGreen");

        });
</script>

<form asp-action="Themes" asp-controller="Home" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm">
    <div class="table-responsive">
        <table class="table table-bordered j-table j-table-text-center" id="articleTable">
            <tr>  <th>Jméno vzhledu</th><th>Složka</th><th>Popis vzhledu</th><th>Akce</th></tr>

            @foreach (ThemeInfo info in Model.ThemeInfoList)
            {
                <tr data-theme="@info.ThemeName" id="test">
                    <td>
                        @info.ThemeName <br /> @(info.ThemeName==Model.SelectedThemeName ? "(Aktuální)":"") <br />


                        <img src="@Url.Content(info.ThemeThumbnailUrl)" class="img-fluid" style="max-width:100px;max-height:100px" />
                    </td>
                    <td>@info.ThemeFolder</td>
                    <td style="text-align:left">@Html.Raw(info.ThemeDescription)</td>
                    <td> <a asp-area="Admin" asp-controller="Home" asp-action="DeleteTheme" asp-route-ThemeName="@info.ThemeName" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a></td>
                </tr>
            }
        </table>
    </div>
    <input type="hidden" asp-for="PageNumber" />
    @{Html.RenderPartial("_JasperPagingPartialView", new JasperPagingViewModel() { DisplayPageNumber = Model.PageNumber, TotalNumberOfPages = Model.TotalNumberOfPages }); }
   
</form>