@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using JasperSiteCore.Models
@using JasperSiteCore.Areas.Admin.Models
@using JasperSiteCore.ViewModels
@model JasperSiteCore.Areas.Admin.ViewModels.ThemesViewModel




<script>
        $(document).ready(function () {

            /* TOOLTIP & HIGHLIGHT */
            $("tr[data-theme='@Model.SelectedThemeName']").css("border-left", "10px solid #BA68C8");
             $('[data-toggle="tooltip"]').tooltip();

            /* DELETE THEME AJAX*/

            $('[data-toggle="modal"] a').click(function (e) {
                e.preventDefault();
                var themeName = $(this).data("deleteName");

                $("#themeNameModal").text(themeName);
                $("#deleteModalButton").attr("href", "./DeleteTheme?ThemeName=" + themeName);

                /* use AJAX in modal pop-up*/
                $("#deleteModalButton").click(function (e) {
                    e.preventDefault();

                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("DeleteTheme","Home")',
                        data: { themeName: themeName },
                        dataType: 'HTML',
                        success: function (data) {

                            $("#mainForm1").html(data);
                            $("#myModal").modal('toggle');
                            savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
                        },
                        error: function () {
                            savedInfo("<strong>Chyba.</strong> Akce nemohla být dokončena.", "alert-danger");
                        }

                    });
                });

            });



            /* ACTIVATE THEME AJAX*/
                var activateLinks = $("a[data-activate-name]");

                activateLinks.click(function (e) {
                    e.preventDefault();
                    var currentLink = $(this);
                    var themeName = currentLink.data("activateName");
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("ActivateTheme","Home")',
                        data: { themeName: themeName },
                        dataType: 'HTML',
                        success: function (data) {

                            $("#mainForm1").html(data);
                            savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
                        },
                        error: function () {
                            savedInfo("<strong>Chyba.</strong> Akce nemohla být dokončena.", "alert-danger");
                        }
                    });
                });
        });
</script>




<form asp-action="Themes" asp-controller="Home" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm1">

    <div class="table-responsive">
        <table class="table table-bordered j-table j-table-text-center j-theme-table" id="articleTable">
            <tr>  <th>Jméno vzhledu</th><th>Název</th><th>Popis vzhledu</th><th>Akce</th></tr>

            @foreach (ThemeInfo info in Model.ThemeInfoList)
            {
                <tr data-theme="@info.ThemeName" id="test">
                    <td style="text-align:center;vertical-align:middle">


                        <img src="@Url.Content(info.ThemeThumbnailUrl)" class="img-fluid" style="max-width:130px;max-height:130px" />
                    </td>
                    <td>@info.ThemeName </td>
                    <td style="text-align:left">@Html.Raw(info.ThemeDescription)</td>
                    <td style="text-align:center;vertical-align:middle">
                        @{
                            if (info.ThemeName != Model.SelectedThemeName)
                            {
                                
                                <a data-toggle="tooltip" title="Aktivovat" asp-area="Admin" asp-controller="Home" asp-action="ActivateTheme" asp-route-ThemeName="@info.ThemeName" class="btn btn-jasper" data-activate-name="@info.ThemeName"> <i class="fa fa-check-circle fa-1x" aria-hidden="true"></i>  </a>
                                <span data-toggle="modal" data-target="#myModal">
                                    <a data-toggle="tooltip" title="Odstranit" asp-area="Admin" asp-controller="Home" asp-action="DeleteTheme" asp-route-ThemeName="@info.ThemeName" data-delete-name="@info.ThemeName" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>
                                </span>
                            }
                            else
                            { <i class="fa fa-check fa-1x" aria-hidden="true"></i>
                                <br /> @(info.ThemeName == Model.SelectedThemeName ? "Aktuální" : "")
                                
                            }
                        }


                    </td>
                </tr>
            }
        </table>
    </div>
    <input type="hidden" asp-for="PageNumber" />
    @Html.Partial("_JasperPagingPartialView", new JasperPagingViewModel() { DisplayPageNumber = Model.PageNumber, TotalNumberOfPages = Model.TotalNumberOfPages })
  


   

</form>
    

