@using JasperSiteCore.Models
@using JasperSiteCore.Areas.Admin.Models
@model JasperSiteCore.Areas.Admin.ViewModels.ThemesViewModel
@{
    ViewBag.Title = "Vzhledy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    @*<script>
        $(document).ready(function () {

            $("tr[data-theme='@Model.SelectedThemeName'] td").css("background-color", "lightGreen");

        });
    </script>*@

}

<div class="jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i> Vzhledy</h1></div>



<h2> <i class="fa fa-info-circle j-icon" aria-hidden="true"></i> Vlastní rozšíření </h2>
<p>JasperSiteCore je možné rozšiřovat o vlastní vzhledy. Návod pro tvorbu vlastního vzhledu nalezente v dokumentaci.</p>
<a href="#" class="btn btn-jasper">Nahrát vlastní vzhled</a>
<a class="btn btn-jasper" asp-controller="Home" asp-action="UpdateConfiguration" asp-area="Admin">Aplikovat data z konfiguračních souborů</a>
<hr />



<h2> <i class="fa fa-info-circle j-icon" aria-hidden="true"></i> Nainstalované vzhledy </h2>
        Složka se vzhledy: @Model.ThemeFolder <br />
        Právě aktivní vzhled: @Model.SelectedThemeName <br />



        <div id="mainForm" >
            

                @{Html.RenderPartial("ThemesPartialView",Model); }

                @*<div class="table-responsive">
                    <table class="table table-bordered j-table j-table-text-center" id="articleTable">
                        <tr>  <th>Jméno vzhledu</th><th>Složka</th><th>Popis vzhledu</th></tr>
                        @foreach (ThemeInfo info in Model.ThemeInfoList)
                        {
                            <tr data-theme="@info.ThemeName" id="test">
                                <td>
                                    @info.ThemeName <br />


                                    <img src="@Url.Content(info.ThemeThumbnailUrl)" class="img-fluid" style="max-width:100px;max-height:100px" />
                                </td>
                                <td>@info.ThemeFolder</td>
                                <td style="text-align:left">@Html.Raw(info.ThemeDescription)</td>

                            </tr>
                        }
                    </table>
                </div>


                <div style="background-color:transparent;display:flex;border:1px solid silver">
                    <div style="background-color:transparent;margin:auto;">
                        <button type="submit" class="btn btn-jasper btn-jasper-icon"  style="display:inline-block" title="předchozí">   <i class="fa fa-angle-left fa-1x" aria-hidden="true"></i> </button>
                        <div style="display:inline-block">
                            <input type="text" style="width:30px;text-align:center" value="@Model.PageNumber.ToString()" title="číslo stránky" />
                        </div>
                        <button type="submit" class="btn btn-jasper btn-jasper-icon"  style="display:inline-block" title="další">   <i class="fa fa-angle-right fa-1x" aria-hidden="true"></i> </button>
                    </div>
                    <div />
                </div>
                      @Html.TextBoxFor(m=>m.PageNumber)*@        
           
        </div>

        <div id="mainForm2">

        </div>