@model JasperSiteCore.Areas.Admin.ViewModels.CategoriesViewModel
@using JasperSiteCore.Models.Database;

@Html.Partial("_ErrorModalPartialViewTemp")
@Html.Partial("_SuccessModalPartialViewTemp")


<script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
<script>
/* AJAX REMOVE CATEGORY */
    $(document).ready(function () {

            var allRemoveLinks = $('a[data-delete-id]').click(function (e) {

                e.preventDefault();
                var singleLink = $(this);

                var categoryToBeRemovedId = singleLink.data('deleteId');
                var categoryName = singleLink.data('categoryName');

                appendWindow("Skutečně odstranit rubriku?", `Rubrika  <b> ${categoryName}</b> bude nenávratně odstraněna.`, function () { return ajaxCall(categoryToBeRemovedId); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "Odstranit");
        });


        function ajaxCall(categoryToBeRemovedId) {

            toggleWindow();
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DeleteCategory","Categories")',
                    data: { id: categoryToBeRemovedId },
                    dataType: 'HTML',
                    success: function (data) {

                        $("#categoryPartialForm").html(data);

                       //savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");

                    }
                });
        }


        $("#tbCategoryName").focus();
    });

</script>



<section class="j-admin-section">
    <form asp-action="CreateNewCategory" asp-controller="Categories" method="post" id="formNewCategory">
        <div class="input-group">
            <input id="tbCategoryName" type="text" asp-for="NewCategory.NewCategoryName" placeholder="Název rubriky" class="form-control" style="z-index:0" />


            <div class="input-group-btn">
                <input type="submit" class="btn btn-jasper" style="width:200px;z-index:0" value="Vytvořit" id="btnSubmit" />
            </div>
        </div>
        <span asp-validation-for="NewCategory.NewCategoryName" class="text-danger"></span>
    </form>
</section>

<section class="j-admin-section">
    <h2><i class="fa fa-table  j-icon" aria-hidden="true"></i> Přehled rubrik</h2>

    <p>
        @if (Model.Categories != null)
        {
            <table class="table table-bordered j-table">
                <tr><th>Akce</th><th class="col-sm" style="text-align:left">Název</th><th>Počet článků</th> </tr>
                @foreach (Category c in Model.Categories)
                {
                    <tr>
                        <td>
                            @if (c.Name != "Nezařazeno")
                            {
                                <a data-delete-id="@c.Id" data-category-name="@c.Name" asp-controller="Categories" asp-action="DeleteCategory" asp-route-id="@c.Id" asp-area="Admin" class="btn btn-jasper btn-jasper-delete"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                            }
                            else
                            {
                                <i class="fa fa-trash fa-1x disabled btn btn-jasper btn-jasper-delete" aria-hidden="true" title="Tuto výchozí rubriku není možné odstranit."></i>
                            }
                        </td>
                        <td>@c.Name</td>
                        <td>@c.Articles.Count()</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Žádné rubriky nejsou k dispozici.
            </div>

        }
    </p>
</section>