@using JasperSite.Models

@model JasperSite.Areas.Admin.ViewModels.SettingsViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Settings"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts {


}

<h2>@Localizer["Settings"]</h2>

@*=====FIRST FORM======*@
<section class="j-admin-section">
    <h4><i class="fa fa-file-text j-icon" aria-hidden="true"></i>@Localizer["Website name"]</h4>
    <div id="mainForm">
        @Html.Partial("WebsiteNamePartialView", Model.model1)
    </div>
</section>
@*=====FIRST FORM END======*@





<section class="j-admin-section">
    <h4><i class="fa fa-cog j-icon" aria-hidden="true"></i>@Localizer["Advanced options"]</h4>
    <p>@Localizer["If you have manually modified some values in the database or edited configuration settings, these options could come in handy."]:</p>

   @Html.Partial("_SettingsTable")


</section>


<section class="j-admin-section">
    <h4><i class="fa fa-database j-icon" aria-hidden="true"></i>@Localizer["Installation"]</h4>

    <table class="table j-table-no-hover table-bordered">
        <tr><th>@Localizer["Action"]</th><th>@Localizer["Description"]</th></tr>
        <tr><td style="padding:5px"><a class="btn btn-jasper" asp-controller="Install" asp-action="Index" asp-area="Admin">@Localizer["Show installation page"]</a></td><td>@Localizer["This option displays an installation page which can be used for a factory reset of this CMS."]</td></tr>
    </table>

</section>



@*=====SECOND FORM=====*@
<section class="j-admin-section">
    <h4><i class="fa fa-diamond j-icon" aria-hidden="true"></i>@Localizer["Global configuration file jasper.json"]</h4>

    <div id="mainForm2">
        @Html.Partial("JasperJsonPartialView", Model.model2)
    </div>
</section>

<section class="j-admin-section">
    <h4><i class="fa fa-paint-brush j-icon" aria-hidden="true"></i>@Localizer["Local configuration file jasper.json"]</h4>

    <div id="mainForm3">
        @Html.Partial("JasperJsonThemePartialView", Model.model3)
    </div>
</section>
@*=====SECOND FORM END=====*@