
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="@Helper.JasperUrl("./favicon.ico")" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>


    <!--TODO: Link minification-->
    <link rel="stylesheet" href="@Helper.JasperUrl("./Styles/style.css")" />

    <!--Scripts -->
    <script src="@Helper.JasperUrl("./Scripts/script.js")" asp-append-version="true"></script>

    @*
        Loads all scripts and css files (some throught CDN, or locally, if development flag is set)
        such as jQuery, Tether, Bootstrap 4, Prism.js
    *@
    @Html.Partial("_ThemeDependencies")

    @* Renders script and sections from subordinate content files *@
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)



</head>
<body>
    <div class="container jasper-container-outer">

        @*<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">*@
        <nav class="navbar navbar-inverse bg-inverse bg-faded navbar-toggleable-md">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">J<span style="color:tomato">asp</span>erSite<span style="color:deepskyblue">Core</span></a>
            @*<a class="navbar-brand" href="/"><span style="color:#edccff">@JasperSiteCore.Models.Configuration.DbHelper.GetWebsiteName()</span></a>*@
            <div class="collapse navbar-collapse" id="containerNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Login">Přihlášení<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Admin/">Administrace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Install/Index">Instalace</a>
                    </li>                   
                    <li class="nav-item @(Context.Request.GetDisplayUrl().Contains("Home/Tutorial") ? "active":"")">
                        <a class="nav-link" href="/Home/Tutorial/">Návody</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Další</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/Home/AboutProject/">O Projektu</a>
                            <a class="dropdown-item" href="/Home/AboutAuthor/">O Autorovi</a>

                        </div>
                    </li>
                </ul>
                @*<form class="form-inline my-2 my-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
            </div>
        </nav>

        @*<nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Moje stránka</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/Admin/Login">Login</a></li>
                            <li><a href="/Admin/">Admin</a></li>
                            <li><a href="/Home/Category/">Kategorie</a></li>
                            <li><a href="/Home/Tutorial/">Tutoriál</a></li>
                        </ul>
                    </div>
                </div>
            </nav>*@

        @RenderBody()
        <hr />
        <div class="container-fluid">
            <footer>
                <p style="padding-bottom:10px">&copy; 2017-2019 - Bc. Jaromír Kejda, PEF ČZU Praha, diplomová práce: Návrh a implementace redakčního systému v ASP.NET Core</p>
            </footer>
        </div>
    </div>

</body>
</html>
