@using JasperSite.Models.Database
@using JasperSite.Models
@inject DatabaseContext databaseContext
@{ var query = Convert.ToInt32(Context.Request.Query["id"]);}
@{
    string categoryName = @J.GetCategoryNameById(query);
    if(categoryName == "Uncategorized")
    {
        categoryName = "Nezařazeno";
    }


    Layout =J.Layout("_Layout.cshtml",Context.Request);
    ViewData["Title"] = categoryName;
}



<div class="container-fluid">
    <div class="jumbotron">
        <h1> @(string.IsNullOrEmpty(categoryName) ? "Kategorie nebyla nalezena." : categoryName)</h1>
    </div>

    @{ List<Article> allArticlesFromCategory = J.GetAllArticles(query);}


    @if (allArticlesFromCategory != null)
    {
        if (allArticlesFromCategory.Count > 0)
        {
            @foreach (Article article in allArticlesFromCategory)
            {

                <div class="list-group">
                    <a href="@J.Url(article)" class="list-group-item list-group-item-action flex-column align-items-start ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@article.Name</h5>
                            <small>@article.PublishDate.ToLongDateString()</small>
                        </div>
                        <p class="mb-1"><i></i></p>
                        <small>@categoryName</small>
                    </a>
                </div>
            }
        }
        else
        {
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start ">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Žádné články nejsou k dispozici.</h5>

                    </div>

                </div>
            </div>


        }

    }
    else
    {
            <div class="alert alert-warning">
                Články z dané rubriky se nepodařilo načíst. Zkuste to prosím později.
            </div>



    }




</div>
