@using JasperSiteCore.Models
@using JasperSiteCore.Areas.Admin.Models
@model JasperSiteCore.Areas.Admin.ViewModels.ThemesViewModel
@{
    ViewBag.Title = "Vzhledy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
    <script>
        /* SUBMIT BUTTON FOR THEME UPLOAD IS DISABLED IF NO FILE HAS BEEN UPLOADED YET  */
        $(document).ready(
            function () {
                $('#files').change(
                    function () {
                        if ($(this).val()) {
                            $('#submitThemeFile').attr('disabled', false);
                        }
                        else {

                            $('#submitThemeFile').attr('disabled', true);
                        }
                    }
                );
            });
    </script>
}

@Html.Partial("_ErrorModalPartialViewTemp")

<div id="vzhledy"></div>

<h2>Vzhledy </h2>

<div class="j-admin-section">
    <h4><i class="fa fa-paint-brush j-icon" aria-hidden="true"></i>Nainstalované vzhledy</h4>

    <!--NOT REGISTERED THEMES IN FOLDER-->
    @if (Model.NotRegisteredThemeNames != null)
    {
        if (Model.NotRegisteredThemeNames.Count > 0)
        {

            <div class="alert alert-warning fade show" role="alert">

                <strong>Složka se vzhledy byla upravena - neregistrované vzhledy</strong> <br />
                Ve složce: <i> @Configuration.GlobalWebsiteConfig.ThemeFolder</i>, ve které jsou uloženy vzhledy, došlo ke změnám, nebo jsou v databázi neočekávané údaje. Neregistrované vzhledy:
                <ul style="list-style-type:disc">
                    @foreach (string name in Model.NotRegisteredThemeNames)
                    {
                        <li>@name</li>
                    }
                </ul>
                <a class="btn btn-jasper" asp-controller="Themes" asp-action="AddNewAddedThemesToDb" asp-area="Admin">Registrovat nové vzhledy do databáze.</a>

            </div>

        }
    }

    <!--MANUALLY DELETED THEMES STILL REGISTERED IN DATABASE-->
    @if (Model.ManuallyDeletedThemeNames != null)
    {
        if (Model.ManuallyDeletedThemeNames.Count > 0)
        {
            <section class="j-admin-section">
                <div class="alert alert-warning fade show" role="alert">

                    <strong>Složka se vzhledy byla upravena - manuálně smazány vzhledy</strong> <br />
                    Ve složce: <i> @Configuration.GlobalWebsiteConfig.ThemeFolder</i>, ve které jsou uloženy vzhledy, došlo ke změnám, které je nutné
                    uložit. Manuálně odstraněné vzhledy:
                    <ul style="list-style-type:disc">
                        @foreach (string name in Model.ManuallyDeletedThemeNames)
                        {
                            <li>@name</li>
                        }
                    </ul>
                    <a class="btn btn-jasper" asp-controller="Themes" asp-action="RemoveManuallyDeletedThemesFromDb" asp-area="Admin">Odstranit nedostupné vzhledy z datbáze.</a>
                </div>
            </section>
        }
    }

    @if (Model.ManuallyDeletedThemeNames != null && Model.NotRegisteredThemeNames != null)
    {
        if (Model.ManuallyDeletedThemeNames.Count == 0 && Model.NotRegisteredThemeNames.Count == 0)
        {
            
                <div id="mainForm1">
                    @Html.Partial("ThemesPartialView", Model)
                </div>
          
        }
        else
        {
            <section class="j-admin-section">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Seznam vzhledů</strong> <br />
                    Oblast pro operace se vzhledy není momentálně dostupná. Vyřešte prosím nejprve výše uvedené problémy.
                </div>
            </section>

        }
    }
</div>


    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Informace o nastavení systému</strong> <br />
        Složka se vzhledy:<b> @((Model.ThemeFolder) ?? "?")</b>, právě aktivní vzhled:<b> @(Model.SelectedThemeName ?? "?") </b>
    </div>

    <div class="alert alert-secondary fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Inteligetní změna vzhledu</strong> <br />
        Redakční systém obsahuje algoritmus pro inteligentní změnu vzhledu. Pokud nově aktivovaný
        vzhled obsahuje stejně pojmenované kontejnery, tak se textové bloky automaticky přiřadí k novým kontejnerům.
    </div>


    <section class="j-admin-section">
        <h4><i class="fa fa-upload j-icon" aria-hidden="true"></i>Vlastní rozšíření</h4>
        <p>Rozšiřte tento redakční systém o další vzhledy.</p>

        <form enctype="multipart/form-data" asp-controller="Themes" asp-action="UploadTheme" asp-area="Admin">
            <div class="form-group">
                <input type="file" class="form-control-file" id="files" name="files" aria-describedby="fileHelp" multiple>
                <small id="fileHelp" class="form-text text-muted"> Vzhled je potřeba nahrát ve formátu .zip</small>
            </div>
            <div class="form-group">
                <input type="submit" value="Nahrát zvolený vzhled" class="btn btn-jasper" id="submitThemeFile" disabled />
            </div>

        </form>
        
    </section>


<div id="modalTargetDiv"></div>



