@using JasperSiteCore.Models
@using JasperSiteCore.Areas.Admin.Models
@model JasperSiteCore.Areas.Admin.ViewModels.ThemesViewModel
@{
    ViewBag.Title = "Vzhledy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
    <script>
        /* SUBMIT BUTTON FOR THEME UPLOAD IS DISABLED IF NO FILE HAS BEEN UPLOADED YET  */
        $(document).ready(
            function () {
                $('#files').change(
                    function () {
                        if ($(this).val()) {
                            $('#submitThemeFile').attr('disabled', false);
                        }
                        else {

                            $('#submitThemeFile').attr('disabled', true);
                        }
                    }
                );
            });
    </script>
}
<div id="vzhledy"></div>

<div class="jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i> Vzhledy</h1></div>



<h2> <i class="fa fa-paint-brush j-icon" aria-hidden="true"></i> Nainstalované vzhledy </h2>

<!--NOT REGISTERED THEMES IN FOLDER-->
@if (Model.NotRegisteredThemeNames.Count > 0)
{
    <section class="j-admin-section">
        <div class="alert alert-warning fade show" role="alert">

            <strong>Složka se vzhledy byla upravena - neregistrované vzhledy</strong> <br />
            Ve složce: <i> @Configuration.GlobalWebsiteConfig.ThemeFolder</i>, ve které jsou uloženy vzhledy, došlo ke změnám, které je nutné
            uložit. Neregistrované vzhledy:
            <ul style="list-style-type:disc">
                @foreach (string name in Model.NotRegisteredThemeNames)
                {
                    <li>@name</li>
                }
            </ul>
            <a class="btn btn-jasper" asp-controller="Themes" asp-action="AddNewAddedThemesToDb" asp-area="Admin">Registrovat nové vzhledy do databáze.</a>

        </div>
    </section>
}

<!--MANUALLY DELETED THEMES STILL REGISTERED IN DATABASE-->
@if (Model.ManuallyDeletedThemeNames.Count > 0)
{
    <section class="j-admin-section">
        <div class="alert alert-warning fade show" role="alert">

            <strong>Složka se vzhledy byla upravena - manuálně smazány vzhledy</strong> <br />
            Ve složce: <i> @Configuration.GlobalWebsiteConfig.ThemeFolder</i>, ve které jsou uloženy vzhledy, došlo ke změnám, které je nutné
            uložit. Manuálně odstraněné vzhledy:
            <ul style="list-style-type:disc">
                @foreach (string name in Model.ManuallyDeletedThemeNames)
                {
                    <li>@name</li>
                }
            </ul>
            <a class="btn btn-jasper" asp-controller="Themes" asp-action="RemoveManuallyDeletedThemesFromDb" asp-area="Admin">Odstranit nedostupné vzhledy z datbáze.</a>
        </div>
    </section>
}



@if (Model.ManuallyDeletedThemeNames.Count == 0 && Model.NotRegisteredThemeNames.Count == 0)
{
    <section class="j-admin-section">
        <div id="mainForm1">
            @Html.Partial("ThemesPartialView", Model)
        </div>
    </section>
}
else
{
    <section class="j-admin-section">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Seznam vzhledů</strong> <br />
            Oblast pro operace se vzhledy není momentálně dostupná. Vyřešte prosím nejprve výše uvedené problémy.
        </div>
    </section>

}


<section class="j-admin-section">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Informace o nastavení systému</strong> <br />
        Složka se vzhledy:<b> @Model.ThemeFolder</b>, právě aktivní vzhled:<b> @Model.SelectedThemeName </b>
    </div>

    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Inteligetní změna vzhledu</strong> <br />
        Redakční systém obsahuje algoritmus pro inteligentní změnu vzhledu. Pokud nově aktivovaný
        vzhled obsahuje stejně pojmenované kontejnery, tak se textové bloky automaticky přiřadí k novým kontejnerům.
    </div>
</section>

<section class="j-admin-section">
    <h2> <i class="fa fa-upload j-icon" aria-hidden="true"></i> Vlastní rozšíření </h2>
    <p>JasperSiteCore je možné rozšiřovat o vlastní vzhledy. Návod pro tvorbu vlastního vzhledu nalezente v dokumentaci.</p>

    <form enctype="multipart/form-data" asp-controller="Themes" asp-action="UploadTheme" asp-area="Admin">
        <div class="form-group">
            <input type="file" class="form-control-file" id="files" name="files" aria-describedby="fileHelp" multiple>
            <small id="fileHelp" class="form-text text-muted"> Vzhled je potřeba nahrát ve formátu .zip</small>
        </div>
        <div class="form-group">
            <input type="submit" value="Nahrát zvolený vzhled" class="btn btn-jasper" id="submitThemeFile" disabled />
        </div>

    </form>
    <hr />
</section>

<h2> <i class="fa fa-cog j-icon" aria-hidden="true"></i> Pokročilé možnosti </h2>
<section class="j-admin-section">

    <p>Pokud jste manuálně modifikovali vzhledy na serveru, nebo upravovali konfigurační nastavení aplikace, můžou se hodit následující možnosti:</p>







    <table class="table j-table-no-hover table-bordered table-responsive">
        <tr><th>Akce</th><th>Popis</th></tr>
        <tr><td style="padding:5px"><a style="width:350px;" class="btn btn-jasper" asp-controller="Themes" asp-action="UpdateConfiguration" asp-area="Admin">Aplikovat data z konfiguračních souborů</a></td><td>Všechna konfigurační data, která byla dočasně uložena do paměti budou znovu načtena z konfiguračníchj souborů.</td></tr>
        <tr><td style="padding:5px"><a style="width:350px;" class="btn btn-jasper" asp-controller="Themes" asp-action="ReconstructAllThemesCorrespondingDatabaseTables" asp-area="Admin">Rekonstrukce databáze vzhledů</a></td><td>V případě poškození databáze vzhledů tato možnost zresetuje databázi vzhledů a odstraní přiřazené textové bloky k jednotlivým kontejnerům příslušných vzhledů. </td></tr>
    </table>


</section>

<div id="modalTargetDiv"></div>



