@using JasperSite.Models.Database
@model JasperSite.Areas.Admin.ViewModels.SettingsViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@inject IJasperDataServicePublic J;
@{
    
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Areas/Admin/Content/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @Localizer["Fatal error"]</title>


    @*********************************************************************** Styles ****************************************************************************@
    <environment include="Development">
        <script src="~/bundles/admin.bundle.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/bundles/admin.bundle.js"></script>
    </environment>

    <style>
        .j-header-color {
            color: #BA68C8;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("[name='reloadButton']").click(function () {
                location.reload();
            });
        });
    </script>

</head>

<body>

    @{

        List<string> errorMessages = new List<string>();

        void Recursion(Exception ex)
        {
            if (ex != null)
            {
                errorMessages.Add($" {ex.ToString()}, <b>{ex.Message}</b>");
                if (ex.InnerException != null)
                {
                    Recursion(ex.InnerException);

                }
                else return;
            }
            else return;
        }

        Recursion((Exception)(TempData["ExceptionMessage"]));

        try
        {
            (errorMessages[0]) = "<b>Hlavní chyba:</b> " + errorMessages[0];
            if (errorMessages.Count > 1)
            {
                for (int i = 0; i <= errorMessages.Count(); i++)
                {
                    if (i != 0)
                    {

                        errorMessages[i] = "<i>Inner Exception:</i> " + errorMessages[i];
                    }


                }

            }
        }
        catch { }
    }

    <div id="headerPanel"></div> @*Panel for appended success message *@

    <div class="container">

        @if (User.Identity.IsAuthenticated)
        {
            <h1>J<span class="j-header-color">asp</span>er Site</h1>
            <h2><small>@Localizer["Fatal error detected"]</small></h2>

            <div class="row">

                <div class="col-lg-12">
                    <section class="j-admin-section ">
                        <p>
                           @Localizer["This page lists all the fatal errors that has to be resolved before JasperSite will be fully operational again."]
                        </p>



                        @if (TempData["ErrorInPageLevelCode"] != null)
                        {
                            if ((string)(TempData["ErrorInPageLevelCode"]) == "1")
                            {
                                <div class="alert alert-warning">
                                    @Localizer["The requested page contains an error which has to be fixed."]
                                </div>
                            }

                        }


                        @if (errorMessages.Count > 0)
                        {
                            @foreach (string message in errorMessages)
                            {

                                <div class="alert alert-danger">
                                    @Html.Raw(message)
                                </div>
                            }

                        }
                        else
                        {
                          

                        }
                    </section>

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="j-admin-section">

                            <p>
                                <b>@Localizer["Admin section"]:</b> <br />
                                @Localizer["Welcome user"] @User.Identity.Name.  @Localizer["You can see this section because you have the role "] <b>Admin</b>. <br />
                                <a class="btn btn-jasper btn-user-icon" style="left:5px;" asp-controller="Login" asp-area="admin" asp-action="SignOut"><i class="fa fa-undo fa-1x"> </i> @Localizer["Logout user"] <i> @User.Identity.Name</i></a>
                                <a class="btn btn-jasper btn-user-icon" style="left:5px;" asp-controller="Home" asp-area="admin" asp-action="Index"><i class="fa fa-diamond fa-1x"> </i> @Localizer["Go to the administration"]</a>
                                <a name="reloadButton" class="btn btn-jasper btn-user-icon" style="left:5px;"><i class="fa fa-refresh"> </i> @Localizer["Reload this page"]</a>
                            </p>

                            <p>
                                <br /><b>@Localizer["Troubleshooting"]:</b> <br />

                               @Html.Partial("_SettingsTable")

                            </p>


                        </div>

                        <section class="j-admin-section">
                            <h4><i class="fa fa-diamond j-icon" aria-hidden="true"></i>@Localizer["Global configuration file jasper.json"]</h4>

                            <div id="mainForm2">
                                @Html.Partial("JasperJsonPartialView", Model.model2)
                            </div>
                        </section>

                        <section class="j-admin-section">
                            <h4><i class="fa fa-paint-brush j-icon" aria-hidden="true"></i>@Localizer["Local configuration file jasper.json"]</h4>

                            <div id="mainForm3">
                                @Html.Partial("JasperJsonThemePartialView", Model.model3)
                            </div>
                        </section>
                    }

                    @if (!User.IsInRole("Admin"))
                    {
                        <div class="j-admin-section">

                            <b>Sekce uživatele systému:</b> <br />
                            Vítejte uživateli @User.Identity.Name. Tuto sekci vidíte, protože jste přihlášen, ale nemáte administrátorská práva. Pro více možností se přihlašte jako administrátor. <br />
                            <a class="btn btn-jasper btn-user-icon" style="left:5px;" asp-controller="Login" asp-area="admin" asp-action="SignOut"><i class="fa fa-undo fa-1x"> </i> Odhlásit uživatele <i> @User.Identity.Name</i></a>
                            <a class="btn btn-jasper btn-user-icon" style="left:5px;" asp-controller="Home" asp-area="admin" asp-action="Index"><i class="fa fa-diamond fa-1x"> </i> Přejít do administrace</a>

                        </div>

                    }






                </div>
            </div>
        }
        else
        {
            @* Page for normal visitor *@

            <div class="jumbotron">
                <h1>
                    @{ string websiteHeader = J.GetWebsiteName();
                        @if (websiteHeader == null)
                        {
                            websiteHeader = "Omlouváme se, ";
                        } }

                    @websiteHeader
                </h1>
                <h4>stránka je momentálně mimo provoz </h4>
            </div>

            <div class="row">

            </div>

            <footer>
                <hr />
                Tento web využívá redakční systém JasperSite.
                <a asp-controller="Login" asp-action="Index" asp-area="Admin">Přihlásit se</a>
            </footer>
        }
    </div>


</body>
</html>
