@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}



@{
    ViewBag.Title=Localizer["Dashboard"];
}
@model JasperSite.Areas.Admin.ViewModels.HomeViewModel

<script src="~/bundles/chart.bundle.js"></script>


@if (Model.Categories != null)
{
    <script>

    $(document).ready(function () {
        var ctx = $("#chartCanvas");

        var options = {

            legend: { display: false },

            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,

                        // no decimal numbers on Y axis
                        userCallback: function (label, index, labels) {
                            // when the floored value is the same as the value we have a whole number
                            if (Math.floor(label) === label) {
                                return label;
                            }

                        },

                    }
                }]
            }

        };

        var data = {


            labels: [

                @foreach (var category in Model.Categories)
                {

                  @:"@Html.Raw(category.Name)",

                }
            ],
            datasets: [
                {
                    label: "@Localizer["Number of articles in category"]",
                    backgroundColor: [
                        @foreach (var category in Model.Categories)
                        {
                            var random = new Random();
                            //var color = String.Format("#{0:X6}", random.Next(0x1000000));
                            //@:"@color",


                            @:"rgba(186, @random.Next(0, 140), @random.Next(126, 256), 1)",
                        }
                    ],
                    data: [
                        @foreach (var category in Model.Categories)
                        {

                            var articles = from a in Model.Articles
                                           where a.CategoryId == category.Id
                                           select a;

                            var count = articles.Count();


                           @:"@count",

                        }
                    ]
                }
            ]
        };

        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });

    });



    </script>
}

<script>

         /* Tip Refresh Button */
$(document).ready(function(){
        $("#tipRefreshButton").click(function(e){
       e.preventDefault();


                    $.ajax({

                        type: 'get',
                        url: '@Url.Action("Refresh","Home")',
                        success: function (data) {
                         savedInfo("@Localizer["Configuration settings updated."]", "alert-success");
                            
                        },
        error: function(){
        savedInfo("@Localizer["<strong>Error.</strong> Configuration settings could not be updated."]", "alert-danger");
        }
                    })






        });
});
</script>


@Html.Partial("_SuccessModalPartialViewTemp")
@Html.Partial("_ErrorModalPartialViewTemp")



<h2>@Localizer["Dashboard"] </h2>

<style>
    .list-group-item {
        padding: 8px;
    }
</style>


<div class="row">




    <div class="col-lg-6">

        <section class="j-admin-section">

            @if (Model.CurrentUser != null)
            {
                <h4><i class="fa fa-star j-icon" aria-hidden="true"></i>@Localizer["Welcome back"]</h4>

                <small>@Localizer["Today is"] @DateTime.Now.ToLongDateString()</small>
                <hr />
                <p> @Localizer["Your username"]: @Model.CurrentUser.Username</p>

                <p>@Localizer["Your username"]: @Model.CurrentUser.Nickname</p>
                <p>  @Localizer["Your user role is"]:  @Model.CurrentUser.Role.Name</p>

                <p>@Localizer["The CMS currently registers {0} articles and {1} categories", @Model.Articles.Count(), @Model.Categories.Count()]</p>

                <form id="selectLanguage" asp-controller="Home"
                      asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
                      method="post" class="form-horizontal" role="form">
                    <label asp-for="@requestCulture.RequestCulture.UICulture.Name">@Localizer["Language"]</label>
                    <select name="culture"
                            onchange="this.form.submit();"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                </form>
               
            }
            else
            {
                <div class="alert alert-warning">
                    @Localizer["Requested information could not be loaded."]                   
                </div>
            }
        </section>

    </div>

    <div class="col-lg-6">
        <section class="j-admin-section  alert alert-info alert-dismissible" style="color:black!important">

            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h4><i class="fa fa-sticky-note j-icon" aria-hidden="true"></i>@Localizer["Tips and Tricks"]</h4>
            <hr class="j-hr" />
            <ul class="list-group">
                <li class="list-group-item">
                   @Localizer["You can display your page using"]:
                    <a class="btn btn-jasper btn-jasper-icon-control-panel" asp-controller="Home" asp-area="" asp-action="Index" target="_blank">   <i class="fa fa-globe fa-1x" aria-hidden="true"></i> </a>
                </li>

                <li class="list-group-item">
                   @Localizer["You can return to this page using"]:
                    <a class="btn btn-jasper btn-jasper-icon-control-panel" asp-controller="Home" asp-area="Admin" asp-action="Index">   <i class="fa fa-home fa-1x" aria-hidden="true"></i> </a>
                </li>

                <li class="list-group-item">
                   @Localizer["Update configuration files using"]:
                    <a id="tipRefreshButton" asp-controller="Home" asp-action="Refresh" asp-area="admin" class="btn btn-jasper btn-jasper-icon-control-panel">  <i class="fa fa-refresh fa-1x" aria-hidden="true"></i></a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {

                <li class="list-group-item">
                    @Localizer["You can logout using"]:

                    <a class="btn btn-jasper btn-jasper-icon-control-panel" style="left:5px;" asp-controller="Login" asp-area="admin" asp-action="SignOut"><i class="fa fa-sign-out fa-1x"> </i> </a>
                </li>

                }

            </ul>

        </section>


    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="j-admin-section">

            <h4><i class="fa fa-bar-chart j-icon" aria-hidden="true"></i>@Localizer["Categories and Articles"]</h4>
            <hr />

            @if (Model.Articles != null && Model.Categories != null)
            {
                @if (Model.Articles.Count() > 0 && Model.Categories.Count > 0)
                {
                    <div style="max-width:800px">
                        <canvas id="chartCanvas"></canvas>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">
                       @Localizer["<strong>This place is empty!</strong> In order to display overview it is required at least one category and article."]
                    </div>

                }
            }
            else
            {
                <div class="alert alert-warning">
                   @Localizer["Information about categories and articles could not be fetched."]
                </div>
            }

        </section>
    </div>
</div>

