@using JasperSiteCore.Models.Database
@model List<Article>

<script>

    $(document).ready(function () {
        /* Delete Ajax call */
        var allDeleteLinks = $('a[data-remove-id]').click(function (e) {

            e.stopPropagation(); // table row click will not trigger simultaneously

            e.preventDefault();
            var singleLink = $(this);

            var Id = singleLink.data('removeId');

            $.ajax({
                type: 'get',
                url: '@Url.Action("Delete", "Articles")',
                data: { id: Id },
                dataType: 'HTML',
                success: function (data) {
                    $("#listOfArticles").html(data);
                    savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
                }
            });

        });

    
        /* Clickable row */
        $("#articleTable").addClass("j-table-clickable");/* If JS is enabled, table is clickable */
        /*Table row is clickable as a whole*/
        $("#articleTable tr").click(function () {
            var id = $(this).data("href")
            window.location = "/Admin/Articles/GetArticle?id=" + id;
        });

    });
</script>

<div class="table-responsive">
    
        @if (Model.Count > 0)
        {<table class="table table-bordered j-table j-table-text-center" id="articleTable">
    <tr><th>Jméno článku</th><th>Rubrika</th><th>Publikováno</th><th>Akce</th></tr>
    @foreach (Article a in Model)
    {
    <tr data-href="@a.Id">
        <td>@a.Name</td>
        <td>@a.Category.Name</td>
        <td>@a.PublishDate</td>

        <td>
            <a data-toggle="tooltip" title="Odebrat" asp-area="Admin" asp-controller="Articles" asp-action="Delete" asp-route-id="@a.Id" data-remove-id="@a.Id" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>
            <a href="/Admin/Articles/GetArticle?id=@a.Id" class="btn btn-jasper">Upravit</a>
        </td>
    </tr>

    }
</table>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>Nic zde není!</strong> Momentálně nemáte žádné uložené články.
            </div>

        }

  
</div>