@model JasperSiteCore.Areas.Admin.ViewModels.UrlListViewModel

@Html.Partial("_SuccessModalPartialViewTemp")
@Html.Partial("_ErrorModalPartialViewTemp")

<script>
    $(document).ready(function (){
    $("a[name='removeUrlBtn']").click(function(e){
    e.preventDefault();


      $.ajax({
                        type: 'get',
                        url: '@Url.Action("DeleteRoute","Articles")',
                        data:  {name: $(this).data("routeName"), 
                               currentArticleId: @Model.ArticleId
                               },
                        dataType: 'HTML',
                        success: function (data) {
                            
                            $("#urlList").html(data);
                        }
                    });

    


    });
    });
</script>


<div class="table-responsive">
    @if (Model.Urls != null)
    {
        <table id="routeTable" class="table table-bordered j-table j-table-left">
            <tr><th>Odstranit</th><th class="col-sm-1">URL</th></tr>
            @foreach (string route in Model.Urls)
            {
                <tr>
                    <td>
                        <a name="removeUrlBtn" data-toggle="tooltip" title="Odebrat" asp-area="admin" asp-controller="Articles" asp-action="DeleteRoute" asp-route-name="@route" data-route-name="@route" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>
                    </td>
                    <td><i>@JasperSiteCore.Models.Configuration.WebsiteConfig.ArticleRoute</i><b>@route</b> </td>

                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-warning">
            Žádné URL adresy nebyly definovány.
        </div>

    }
</div>