
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="@J.File("./favicon.ico")" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>




    <!--Scripts -->
    <script src="@J.File("./Scripts/script.js")" asp-append-version="true"></script>

    @*
        Loads all scripts and css files (some throught CDN, or locally, if development flag is set)
        such as jQuery, Tether, Bootstrap 4, Prism.js
    *@
    @Html.Partial("_ThemeDependencies")

    @* Renders script and sections from subordinate content files *@
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

    <environment include="Development">
        <link rel="stylesheet" href="@J.File("./Styles/style.css")" />
        <script src="@J.File("./Scripts/script.js")"></script>
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="@J.File("./Styles/style.min.css")" />
        <script src="@J.File("./Scripts/script.min.js")"></script>
    </environment>

</head>
<body>
    <div class="container jasper-container-outer">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">J<span style="color:#AB47BC">asp</span>erSite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/install/index">Installation</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/home/about-project">About Project</a>
                            <a class="dropdown-item" href="/home/about-author">About Author</a>
                        </div>
                    </li>


                </ul>
            </div>
        </nav>





        @RenderBody()

        <div class="container-fluid j-footer bg-inverse">
            <footer style="padding:10px">
                <p style="color:#949596">

                    &copy;2018-2019 - Proudly powered by JasperSite and .NET Core 2.1

                </p>
            </footer>
        </div>

    </div>

</body>
</html>
