@using JasperSite.Models.Database;
@model JasperSite.Areas.Admin.ViewModels.UsersViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@Html.Partial("_ErrorModalPartialViewTemp")
@Html.Partial("_SuccessModalPartialViewTemp")

<script>
/* AJAX REMOVE HOLDER */
 $(document).ready(function () {

    $('[data-toggle="tooltip"]').tooltip();


     /* AJAX delete user */
    var allDeleteLinks = $('a[data-remove-id]').click(function (e) {

        e.stopPropagation(); // table row click will not trigger simultaneously

            e.preventDefault();
            var singleLink = $(this);

        var Id = singleLink.data('removeId');
        var userName = singleLink.data('userName');

        appendWindow("@Localizer["Are you sure you want do delete this user?"]", `@Localizer["User ( username: <b>"] ${userName} @Localizer["</b>) will be permanently deleted. "]`, function () { return ajaxCall(Id); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "@Localizer["Delete"]");



     });

     function ajaxCall(userId) {

         toggleWindow();

          $.ajax({
            type: 'get',
              url: '@Url.Action("DeleteUser", "Users")',
              data: { id: userId },
            dataType: 'HTML',
            success: function (data)
            {
            $("#mainFormPartial").html(data);

            }
      });

     }

     // Clickable table rows


        $("#usersTable").addClass("j-table-clickable");/* If JS is enabled, table is clickable */

        /*Table row is clickable as a whole*/
        $("#usersTable tr:gt(0)").click(function (e) {
            var id = $(this).data("href")
            window.location = "/Admin/Users/EditUser?id=" + id;
        });



 });
</script>



<h4><i class="fa fa-table j-icon" aria-hidden="true"></i>@Localizer["List of users"]</h4>
<div class="table-responsive">
    @if (Model.Users != null)
    {
        <table id="usersTable" class="table table-bordered j-table ">
            <tr><th>@Localizer["Username"]</th><th>@Localizer["Nickname"]</th><th>@Localizer["User role"]</th><th class="col-sm-1">@Localizer["Action"]</th></tr>
            @foreach (User u in Model.Users)
            {
                <tr data-href="@u.Id" style="@((User.Identity.Name.Trim().ToLower() == u.Username.Trim().ToLower()) ? "border-left:10px solid #BA68C8" : "" )">

                    <td>@u.Username</td>
                    <td>@u.Nickname</td>
                    <td>@u.Role.Name</td>
                    <td>
                        <a href="/admin/users/edituser?id=@u.Id" class="btn btn-jasper">@Localizer["Edit"]</a>

                        @if (User.Identity.Name.Trim().ToLower() == u.Username.Trim().ToLower())
                        {
                            <span data-toggle="tooltip" title="@Localizer["Active user could not be deleted."]">  <a href="#" class="btn btn-jasper btn-jasper-delete disabled"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a></span>

                        }
                        else
                        {
                            <a title="@Localizer["Delete"]" asp-area="admin" asp-controller="users" asp-action="deleteuser" asp-route-id="@u.Id" data-remove-id="@u.Id" data-user-name="@u.Username" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>
                        }

                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-warning">
           @Localizer["<b>This palce is empty! </b> No users were found."]
        </div>

    }
</div>