@using JasperSite.Models.Database;
@model JasperSite.Areas.Admin.ViewModels.UsersViewModel

@Html.Partial("_ErrorModalPartialViewTemp")
@Html.Partial("_SuccessModalPartialViewTemp")

<script>
/* AJAX REMOVE HOLDER */
 $(document).ready(function () {

    $('[data-toggle="tooltip"]').tooltip();


     /* AJAX delete user */
    var allDeleteLinks = $('a[data-remove-id]').click(function (e) {

        e.stopPropagation(); // table row click will not trigger simultaneously

            e.preventDefault();
            var singleLink = $(this);

        var Id = singleLink.data('removeId');
        var userName = singleLink.data('userName');

        appendWindow("Skutečně odstranit uživatele?", `Uživatel (uživatelské jméno: <b> ${userName}</b>) bude nenávratně odstraněn.`, function () { return ajaxCall(Id); }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "Odstranit");



     });

     function ajaxCall(userId) {

         toggleWindow();

          $.ajax({
            type: 'get',
              url: '@Url.Action("DeleteUser", "Users")',
              data: { id: userId },
            dataType: 'HTML',
            success: function (data)
            {
            $("#mainFormPartial").html(data);

            }
      });

     }

     // Clickable table rows


        $("#usersTable").addClass("j-table-clickable");/* If JS is enabled, table is clickable */

        /*Table row is clickable as a whole*/
        $("#usersTable tr:gt(0)").click(function (e) {
            var id = $(this).data("href")
            window.location = "/Admin/Users/EditUser?id=" + id;
        });



 });
</script>



<h4><i class="fa fa-table j-icon" aria-hidden="true"></i>Seznam uživatelů</h4>
<div class="table-responsive">
    @if (Model.Users != null)
    {
        <table id="usersTable" class="table table-bordered j-table j-table-text-center">
            <tr><th>Odstranit</th><th>Uživatelské jméno</th><th>Přezdívka</th><th>Role</th><th>Upravit</th></tr>
            @foreach (User u in Model.Users)
            {
                <tr data-href="@u.Id" style="@((User.Identity.Name.Trim().ToLower() == u.Username.Trim().ToLower()) ? "border-left:10px solid #BA68C8" : "" )">
                    <td>
                        @if (User.Identity.Name.Trim().ToLower() == u.Username.Trim().ToLower())
                        {<i class="fa fa-check fa-1x" aria-hidden="true"></i>
                            @: <span data-toggle="tooltip" title="Aktivního uživatele není možné odstranit.">Aktivní uživatel</span>








                        }
                        else
                        {
                            <a data-toggle="tooltip" title="Odebrat" asp-area="Admin" asp-controller="Users" asp-action="DeleteUser" asp-route-id="@u.Id" data-remove-id="@u.Id" data-user-name="@u.Username" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>  </a>


                        }

                    </td>



                    <td>@u.Username</td>
                    <td>@u.Nickname</td>
                    <td>@u.Role.Name</td>
                    <td><a href="/Admin/Users/EditUser?id=@u.Id" class="btn btn-jasper">Upravit</a></td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-warning">
            <strong>Nic zde není!</strong> Žádný uživatel nebyl nalezen.
        </div>

    }
</div>